1. In your folder, create a database named "BTech22.sqlite"   
2. Create a table named "Students" using the columns in the shared spreadsheet  "BTech22Data.xlsx"

In [8]:
import pandas as pd
import os
import sqlite3 as lite
from glob import glob

dbpath = 'BTech22.sqlite'
con = lite.connect(dbpath)

In [9]:
df=pd.read_excel("/Users/reethu/coding/college/DBMS/Data/BTech22 Data.xlsx")
df

,USN,Name,Email,Section,Sex,DoB,Height_cm,Weight_Kg,Home_State,Home_Town,Mother_Tongue,Elective,Clubs
0,1RVU22CSE001,SHREE VYSHNAVI A,shreevyshnavia,B,Female,14/04/2005,158,56,Karnataka,Mysore,Telugu,Photography,Generative AI
1,1RVU22CSE002,AARON ARTHUR ELISHA,aarone,A,Male,2003-04-02 00:00:00,183,76,NaN,NaN,English,Community service,NaN
2,1RVU22CSE003,ABHISHEK,abhishek,A,Male,2003-08-05 00:00:00,181,56,Karnataka,Bidar,Marathi,Photography,NaN
3,1RVU22CSE004,ABRAR HUSSAIN,abrarh,B,Male,21/11/2003,182,69,Jammu,Bathindi,Urdu,Drumming,E-Cell
4,1RVU22CSE005,ADITI A,aditia,B,Female,13-3-2004,157,NaN,Karnataka,Ballari,Kannada,Photography,"Generative AI, Expressions, Kalakriti"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1RVU22CSE189,VIBHU POTTEKULA,vibhup,C,Male,18/03/04,172,56,Karnataka,Bengaluru,Kannada,Photography,Viksha
188,1RVU22CSE190,VIJAY SHARMITH,vijays,B,Male,2004-05-04 00:00:00,176,55,Karnataka,Bengaluru,Tamil,"Success, Happiness and Leadership","Cybersecurity, Neural Nexus club"
189,1RVU22CSE191,VIKASH KASHYAP,vikashk,A,Male,13/05/2003,178,85,Karnataka,Banglore,Kannada,Drumming,NaN
190,1RVU22CSE192,VISMITHA PRIYANKA,vismithap,A,Female,25/06/2004,160,54,Karnataka,Bangalore,kannada,Drumming,"cybersecurity, Neural Nexus ,Viksha"
191,1RVU22CSE193,YASHWANTH BU,yashwanthbu,A,Male,28/07/2004,179,80,Karnataka,Bangalore,Kannada,Photography,carvaccess(rvce)

In [3]:
con.execute("CREATE TABLE Students(USN, Name, Email, Section, Sex, DoB, Height_cm, Weight_Kg, Home_State, Home_Town, Mother_Tongue, Elective, Clubs, PRIMARY KEY (USN))")

3. Insert data into "Students" table.  
    If you are inserting values direct from a dataframe, set index=False.   
    Else, create a 2D list of values and use con.executemany(sql, data)

In [5]:
df.to_sql('Students', con, index=False, if_exists='append')

192

In [2]:
con.execute("SELECT * from Students").fetchall()

NameError: name 'conn' is not defined

4. Find the minimum and maximum values of numeric columns

In [17]:
col = 'USN'
query1= f"SELECT MIN({col}), MAX({col}) FROM Students"
print(con.execute(query1).fetchall())

[('1RVU22CSE001', '1RVU22CSE193')]

In [27]:
col = 'Weight_Kg'
query2= f"SELECT MIN({col}), MAX({col}) FROM Students"
print(con.execute(query1).fetchall())

[(7, '-')]

In [28]:
col = 'Height_cm'
query1= f"SELECT MIN({col}), MAX({col}) FROM Students"
print(con.execute(query1).fetchall())

[(7, '-')]

In [29]:
print(con.execute("SELECT MIN(Height_cm), MAX(Height_cm) FROM Students").fetchall())

[(7, '-')]

5. Find candidate Primary Keys    
    Count unique values for each column   
    What would be the natural Primary Key?

In [38]:
cols =['USN', 'Name', 'Email', 'Section']
for col in cols:
    query3 = f"SELECT DISTINCT COUNT(*) FROM Students GROUP BY ({col})"
    print(f"{col}:{con.execute(query3).fetchall()}")

USN:[(1,)]
Name:[(1,)]
Email:[(1,)]
Section:[(64,)]

Both USN and Name are eligible to be primary keys as they all have distinct values. But, the natural primary key is the USN

6. Find distinct values of categorical columns:   ['Sex',  'Home_State', 'Home_Town', 'Mother_Tongue', 'Elective', 'Clubs']

In [51]:
cols =['Sex',  'Home_State', 'Home_Town', 'Mother_Tongue', 'Elective', 'Clubs']
for col in cols:
    print(f"{col}:")
    query3 = f"SELECT DISTINCT {col}, Count(*) FROM Students GROUP BY ({col})"
    print(con.execute(query3).fetchall()); print()

Sex:
[(None, 7), (' Male', 1), ('-', 1), ('FEMALE', 1), ('Female', 56), ('Female ', 9), ('Mail', 1), ('Male', 97), ('Male ', 3), ('female', 3), ('female ', 2), ('male', 11)]

Home_State:
[(None, 11), ('-', 1), ('Andhra Pradesh', 3), ('Andhra Pradesh ', 4), ('Bihar', 1), ('Delhi', 1), ('Goa', 1), ('Gujarat', 1), ('Haryana', 1), ('Jammu', 1), ('Jharkhand', 1), ('KARNATAKA', 2), ('KARnataka', 1), ('Karantaka', 1), ('Karnataka', 102), ('Karnataka ', 33), ('Nil ', 1), ('Punjab', 1), ('Punjab ', 1), ('Rajasthan', 2), ('Rajasthan ', 1), ('Tamil Nadu', 1), ('Telangana', 3), ('Uttar Pradesh', 2), ('Uttar Pradesh ', 1), ('West Bengal', 1), ('karnataka', 10), ('karnataka ', 2), ('karntaka', 1)]

Home_Town:
[(None, 11), ('-', 1), ('Abu Road', 1), ('Abu Road ', 1), ('Adoni', 4), ('Ahmedabad', 1), ('Amritsar', 2), ('Ananthapur ', 1), ('BIDAR', 1), ('Ballari', 2), ('Bangalore', 16), ('Bangalore ', 4), ('Banglire', 1), ('Banglore', 4), ('Bathindi', 1), ('Belgaum', 1), ('Belgavi ', 1), ('Bengaluru', 47), ('Bengaluru ', 8), ('Bidadi', 1), ('Bidar', 2), ('Chennai', 1), ('Chickmagalur ', 1), ('Chikkaballapur', 2), ('Chikmagalur', 1), ('Chithradurga', 1), ('Chitradurga', 3), ('Chittoor ', 1), ('Davengere', 1), ('Dharbanga', 1), ('Dharwad', 1), ('Gajendragad', 1), ('Gangavathi', 1), ('Goa', 1), ('Gulbarga ', 1), ('Hassan', 1), ('Haveri', 1), ('Hosapete ', 1), ('Hospet', 1), ('Hubballi', 1), ('Hubballi ', 1), ('Hubli', 1), ('Hyderabad', 3), ('Hyderabad ', 1), ('Jaipur', 1), ('Jamshedpur', 1), ('Kalaburgi', 1), ('Kolkata', 1), ('Lucknow', 2), ('Maahishmati', 1), ('Magadi', 1), ('Mandya', 2), ('Mangalore', 2), ('Mudigere', 1), ('Mysore ', 1), ('Mysuru', 2), ('Nagoor', 1), ('New Delhi', 2), ('Nil', 1), ('Raichur', 2), ('Raichur ', 2), ('SHIVAMOGGA', 1), ('Saharanpur', 1), ('Shivamogga', 1), ('Shivmogga ', 1), ('Tirupati', 1), ('Tumkur', 1), ('Vijayapur', 1), ('Vijayapura', 2), ('Yadgir ', 1), ('Yadgiri', 1), ('bangalore', 1), ('bangaluru', 1), ('banglore', 3), ('banglre', 1), ('bengaluru', 3), ('chikkamagaluru', 1), ('chikmagalur', 1), ('chitradurga', 1), ('kolar', 1), ('mandya', 1), ('shimoga', 1), ('shivamogga ', 1), ('tumkur', 2)]

Mother_Tongue:
[(None, 10), ('-', 1), ('English ', 1), ('Gujarati', 1), ('Hindi', 19), ('Hindi ', 2), ('Hinglish', 1), ('KANNADA', 1), ('Kannada', 62), ('Kannada ', 14), ('Karnataka', 1), ('Konkani', 3), ('MARATHI', 1), ('Malayalam', 2), ('Marathi', 1), ('Marathi ', 1), ('Punjabi', 1), ('Tamil', 9), ('Telugu', 28), ('Telugu ', 2), ('Tulu', 4), ('Urdu', 2), ('Urdu ', 2), ('hindi', 2), ('kannada', 10), ('kannada ', 4), ('tamil', 1), ('telugu', 3), ('ಕನ್ನಡ', 3)]

Elective:
[(None, 13), ('-', 1), ('Community Service', 17), ('Community Service ', 4), ('Community service', 6), ('Community service ', 3), ('Contemporary Dance', 4), ('Contemporary ance', 1), ('Contemporary dance', 4), ('Contemporary dance ', 3), ('Drumming', 26), ('Drumming ', 2), ('Hindustani Music ', 1), ('Hindustani Vocals', 1), ('Hindustani vocals ', 1), ('Hindusthani Vocals', 1), ('Indian Knowledge System: Mathematica and Ayurveda', 4), ('Indian Knowledge system Mathematics&Ayurveda', 1), ('Indian Knowledge systems - Ayurveda and Mathematics', 2), ('Kuchipudi', 3), ('Mixed martial arts', 1), ('Null', 1), ('PHOTOGRAPHY', 1), ('Photography', 32), ('Photography ', 7), ('Quantitative Reasoning', 6), ('Quantitative reasoning', 2), ('Quantity Reasoning ', 1), ('Success, Hapiness and Leadership', 2), ('Success, Happiness and Leadership', 3), ('Success, Happiness and Leadership ', 2), ('Success, happiness,leadership and life skills', 2), ('Success, leadership and lifeskill', 1), ('Success,Happiness,Leadership and  life skills', 5), ('Success,Happiness,Leadership and Lifeskills', 1), ('Success,Leadership and Lifeskill', 1), ('community service', 1), ('community servive', 1), ('contemporary dance', 5), ('deciding ', 1), ('drumming', 2), ('kuchipudi ', 1), ('photography', 10), ('photography ', 1), ('quantitative reasoning ', 1), ('success, happiness and leadership', 1), ('success, happiness and leadership and life skills ', 1), ('success,happiness,leadership and life skills', 1)]

Clubs:
[(None, 67), (' Cybersecurity ', 1), ('-', 1), ('Ameya', 1), ('Ameya, Cyber Security, Callisto, Viksha', 1), ('Astronomy(Callisto), Neural Nexus , Quantum computing , Processor Architecture', 1), ('CYBER SECURITY', 1), ('Callisto', 1), ('Callisto Astronomy Club', 1), ('Callisto, Press Corps,Expression', 1), ('ChipTech, Cyber Security', 1), ('ChipTech, CyberSec, Neural Nexus, Q-Pulse', 1), ('ChipTech, Cybersec, Neural Nexus', 1), ('ChipTech,CyberSec,Neural Nexus', 1), ('ChipTech,CyberSec,Shrigandha', 1), ('ChipTech,CyberSecurity', 1), ('ChipTech,Generative AI', 1), ('Coding club ', 1), ('Cyber Security, Possessor Architecture', 1), ('Cyber security', 1), ('Cyber security, Chiptech, Raag', 1), ('Cybersec,generative AI', 1), ('Cybersecurity', 4), ('Cybersecurity ', 3), ('Cybersecurity , Chiptech', 1), ('Cybersecurity ,Neural Nexus', 1), ('Cybersecurity Club', 1), ('Cybersecurity club', 1), ('Cybersecurity, Coding (Viksha), Astronomy (Callisto)', 1), ('Cybersecurity, Neural Nexus club ', 1), ('Cybersecurity, Srigandha', 1), ("Debsoc, Neural Nexus, Isekai Adventures, Rowling's Elf, Raag (RVCE)", 1), ('Debsoc, QPulse, AMEYA', 1), ('Drumming', 1), ('E-Cell', 3), ('E-Cell ', 2), ('E-Cell, ChipTech, Viksha, GDSC', 1), ('E-cell', 1), ('E-cell, ChipTech, Viksha', 1), ('ECELL', 1), ('ECell', 1), ('Generative AI ', 2), ('Generative AI, Cyber Security, Callisto, Quantum Computing, Processor Architecture', 1), ('Generative AI, Expressions, Kalakriti', 1), ('Modelling, Generative AI, Quantum Computing, Happy tails', 1), ('Neual Nexus', 1), ('Neural Nexus', 2), ('Neural Nexus ', 1), ('Neural Nexus(AI/ML club),Viksha, E-Cell, ', 1), ('Neural Nexus, Callisto, Viksha', 1), ('Neural Nexus, Cybersecurity, Generative AI', 1), ('Neural Nexus, Viksha', 3), ('Neural nexus (AI/ML Club) , Processor architecture', 1), ('Neural nexus(AI/ML)', 1), ('Neural nexus(AI/ML), E-Cell', 1), ('Nexus,Cyber security', 1), ('Q-Pulse', 1), ('Raag Regime, Viksha ', 1), ('Rowling elf,Chiptech,', 1), ('Rowlings Elf', 1), ('Shrigandha', 3), ('Shrigandha , Cybersecurity,ChipTech', 1), ('Shrigandha, QPulse', 1), ('Shrignadha', 1), ('Socials', 1), ('Socials ', 1), ('Socials,Ameya,Srigandha', 1), ('Viksha', 7), ('Viksha , Socials , Generative AI', 1), ('Viksha ,Ecell, Socials', 1), ('Viksha(coding club) , Neural Nexus', 1), ('Viksha(coding club), Generative AI, Cybersecurity, Socials', 1), ('Viksha(coding club), Socials', 1), ('Viksha(coding)', 1), ('Viksha, Ameya', 1), ('Viksha, Callisto', 1), ('Viksha, ChipTech, Cyber Security', 1), ('Viksha, Cyber Security', 1), ('Viksha, CyberSecurity', 2), ('Viksha, Cybersecurity', 1), ('Viksha, Generative AI', 1), ('Viksha, Neural Nexus', 1), ('Viksha,ChipTech', 1), ('callisto astronomy club ', 1), ('callisto astronomy club, Neural Nexus, Viksha', 1), ('carvaccess(rvce)', 2), ('coding club', 1), ('cyber security', 1), ('cyber security ', 1), ('cyber security,chip tech,genertive ai', 1), ('cybersecurity', 2), ('cybersecurity, Neural Nexus ,Viksha', 1), ('cybersecurity,Tenacity,Chip Tech', 1), ('cybersecurity,socials,srigandha', 2), ('ecell', 1), ('expression ', 1), ('expressions, Raag, generative AI', 1), ('shrigandha , viksha', 1), ('socials', 1), ('socials, cyber security', 1), ('socials,viksha', 1), ('ಶ್ರೀಗಂಧ, Socials, Ameya, Cybersecurity', 1)]

7. Correct variations and unify  
    Correcting the variations in values is easier with Pandas than with SQL.  
    You may use Pandas features to make the changes and load the data again.