#### 0301_Lab     
Write a Python script using which  
1. Create a database named `0301_Students.sqlite` in your folders.    
2. CREATE a table named `Students` in the database   
    students(name TEXT, USN TEXT, email TEXT, primary key(USN) )   
3. Insert four records in the table.      
4. Commit the changes.  
5. Test by reading the rows.

In [5]:
import pandas as pd
import os
import sqlite3 as lite
from glob import glob

dbpath = '0301_Students.sqlite'
con = lite.connect(dbpath)

In [6]:
con.execute("CREATE TABLE Students( name TEXT, USN TEXT, email TEXT, PRIMARY KEY (USN))")

In [7]:
con.execute("INSERT INTO Students VALUES('Reethu RG Thota', '1RVU22CSE128', 'reethurgt.btech22@rvu.edu.in')")
con.execute("SELECT * from Students").fetchall()

[('Reethu RG Thota', '1RVU22CSE128', 'reethurgt.btech22@rvu.edu.in')]

In [8]:
records_to_insert = [('Shreyas Rajiv', '1RVU22CSE153', 'shreyasr.btech22@rvu.edu.in'),
                     ('Avanthi Narasingu', '1RVU22CSE039', 'avanthi.btech22@rvu.edu.in'),
                     ('Sruthika Sivakumar', '1RVU22CSE140', 'sruthikas.btech22@rvu.edu.in')]

query = """ INSERT INTO Students VALUES(?, ?, ?) """

con.executemany(query, records_to_insert)
con.execute("SELECT * from Students").fetchall()

[('Reethu RG Thota', '1RVU22CSE128', 'reethurgt.btech22@rvu.edu.in'),
 ('Shreyas Rajiv', '1RVU22CSE153', 'shreyasr.btech22@rvu.edu.in'),
 ('Avanthi Narasingu', '1RVU22CSE039', 'avanthi.btech22@rvu.edu.in'),
 ('Sruthika Sivakumar', '1RVU22CSE140', 'sruthikas.btech22@rvu.edu.in')]

In [9]:
con.commit()
con.execute("SELECT * from Students").fetchall()

[('Reethu RG Thota', '1RVU22CSE128', 'reethurgt.btech22@rvu.edu.in'),
 ('Shreyas Rajiv', '1RVU22CSE153', 'shreyasr.btech22@rvu.edu.in'),
 ('Avanthi Narasingu', '1RVU22CSE039', 'avanthi.btech22@rvu.edu.in'),
 ('Sruthika Sivakumar', '1RVU22CSE140', 'sruthikas.btech22@rvu.edu.in')]

6. Update the table replacing the RVU email ID with your private email ID.  
7. Read and display all the data from sqlite_master  
8. Read and display table_info using PRAGMA

9. For the tables below, create ERD diagram, export it as `0301_ERD.svg` and save in your folder.

```
CREATE TABLE Scores(
               FUSN Text,
               course_ID Integer, 
               FOREIGN KEY(FUSN) REFERENCES Student(FUSN), 
               FOREIGN KEY(course_ID) REFERENCES Course(course_ID), 
               Score Int, 
               Primary Key(FUSN, course_ID) 
              );
```