1. From your implementation of 0102_lab, check distinct values of   
 ['Sex', 'Home_State', 'Home_Town', 'Mother_Tongue', 'Elective', 'Clubs']    
2. Print the min, max, and mean heights of boys and girls for the whole class and also by section.  
3. Print name, USN, section, home_state and mother_tongue of students from Karnataka with mother_tongue other than Kannada.  
4. Get count of students for each elective by section (A, B, C), ORDERED BY the count.  

key words: WHERE, DISTINCT, GROUP BY, ORDER BY, SUM, MIN, MAX

In [1]:
import pandas as pd
import os
import sqlite3 as lite
from glob import glob

dbpath = 'BTech22.sqlite'
con = lite.connect(dbpath)

In [2]:
columns = ['Sex', 'Home_State', 'Home_Town', 'Mother_Tongue', 'Elective', 'Clubs']

distinct_values = {}
for column in columns:
    query = f"SELECT DISTINCT {column} FROM Students"
    values = con.execute(query).fetchall()
    distinct_values[column] = [value[0] for value in values if value[0] is not None]

for column, values in distinct_values.items():
    print(f"Distinct values for {column}: {values}")

Distinct values for Sex: ['Female', 'Male', 'Mail', 'Male ', 'Female ', 'male', 'female', ' Male', '-', 'FEMALE', 'female ']
Distinct values for Home_State: ['Karnataka ', 'Karnataka', 'Jammu', 'Haryana', 'karnataka ', 'Delhi', 'karnataka', 'West Bengal', 'Andhra Pradesh', 'Telangana', 'Punjab', 'Goa', 'Uttar Pradesh', 'Rajasthan ', 'Tamil Nadu', 'Bihar', 'Nil ', 'Andhra Pradesh ', 'Uttar Pradesh ', 'KARNATAKA', 'karntaka', 'Gujarat', 'Jharkhand', '-', 'Rajasthan', 'KARnataka', 'Punjab ', 'Karantaka']
Distinct values for Home_Town: ['Mysore ', 'Bidar', 'Bathindi', 'Ballari', 'banglore', 'Raichur', 'Hubballi', 'Bangalore ', 'Mandya', 'Chitradurga', 'Gulbarga ', 'Bengaluru', 'Maahishmati', 'Bengaluru ', 'Hospet', 'New Delhi', 'banglre', 'Dharwad', 'Kalaburgi', 'Bangalore', 'Kolkata', 'Tirupati', 'chikkamagaluru', 'Shivmogga ', 'Raichur ', 'Banglire', 'Hyderabad', 'Adoni', 'Nagoor', 'Amritsar', 'Goa', 'Bidadi', 'Saharanpur', 'Abu Road ', 'Hosapete ', 'Hubballi ', 'Chennai', 'Haveri', 'Yadgiri', 'tumkur', 'bangaluru', 'Chithradurga', 'Dharbanga', 'Davengere', 'Nil', 'Shivamogga', 'chitradurga', 'bengaluru', 'chikmagalur', 'mandya', 'Lucknow', 'BIDAR', 'shimoga', 'Banglore', 'shivamogga ', 'Chikkaballapur', 'Yadgir ', 'Chickmagalur ', 'Gangavathi', 'Hyderabad ', 'Vijayapura', 'Ahmedabad', 'Mysuru', 'Chikmagalur', 'Hubli', 'Chittoor ', 'Mudigere', 'kolar', 'Gajendragad', 'Tumkur', 'Jamshedpur', '-', 'Belgavi ', 'Abu Road', 'Hassan', 'Mangalore', 'SHIVAMOGGA', 'Magadi', 'bangalore', 'Ananthapur ', 'Vijayapur', 'Belgaum', 'Jaipur']
Distinct values for Mother_Tongue: ['Telugu', 'English ', 'Marathi', 'Urdu', 'Kannada', 'Hindi', 'kannada', 'Kannada ', 'Hinglish', 'Marathi ', 'Konkani', 'Tamil', 'Malayalam', 'Hindi ', 'kannada ', 'tamil', 'Tulu', 'Karnataka', 'MARATHI', 'hindi', 'telugu', 'Gujarati', 'Telugu ', '-', 'KANNADA', 'Punjabi', 'Urdu ', 'ಕನ್ನಡ']
Distinct values for Elective: ['Photography ', 'Community service ', 'Photography', 'Drumming', 'Community service', 'Indian Knowledge System: Mathematica and Ayurveda', 'Success, Happiness and Leadership', 'Hindusthani Vocals', 'Contemporary dance ', 'Contemporary ance', 'Contemporary Dance', 'contemporary dance', 'Mixed martial arts', 'Success,Happiness,Leadership and Lifeskills', 'Community Service', 'Community Service ', 'photography', 'Success, Hapiness and Leadership', 'Quantitative Reasoning', 'Quantitative reasoning', 'Indian Knowledge systems - Ayurveda and Mathematics', 'Success, Happiness and Leadership ', 'Quantity Reasoning ', 'success, happiness and leadership and life skills ', 'Hindustani Vocals', 'Contemporary dance', 'Success,Happiness,Leadership and  life skills', 'Hindustani vocals ', 'Null', 'success, happiness and leadership', 'success,happiness,leadership and life skills', 'community servive', 'drumming', 'Kuchipudi', 'community service', 'photography ', 'Success, happiness,leadership and life skills', 'Hindustani Music ', 'Indian Knowledge system Mathematics&Ayurveda', 'deciding ', 'Success, leadership and lifeskill', '-', 'Success,Leadership and Lifeskill', 'Drumming ', 'PHOTOGRAPHY', 'kuchipudi ', 'quantitative reasoning ']
Distinct values for Clubs: ['Generative AI ', 'E-Cell', 'Generative AI, Expressions, Kalakriti', 'Generative AI, Cyber Security, Callisto, Quantum Computing, Processor Architecture', 'Ameya, Cyber Security, Callisto, Viksha', 'socials', 'Socials ', 'Neural Nexus ', 'ChipTech,CyberSec,Shrigandha', 'ChipTech,CyberSec,Neural Nexus', 'Modelling, Generative AI, Quantum Computing, Happy tails', 'Viksha ,Ecell, Socials', "Debsoc, Neural Nexus, Isekai Adventures, Rowling's Elf, Raag (RVCE)", 'cyber security', 'Neural Nexus, Viksha', 'Coding club ', 'Cybersecurity ', 'Cybersecurity, Coding (Viksha), Astronomy (Callisto)', 'Raag Regime, Viksha ', 'ChipTech, Cybersec, Neural Nexus', 'E-Cell ', 'E-cell', 'Nexus,Cyber security', 'Neural Nexus(AI/ML club),Viksha, E-Cell, ', 'Cyber security, Chiptech, Raag', 'Cybersec,generative AI', 'Neural nexus (AI/ML Club) , Processor architecture', 'ChipTech,Generative AI', 'Drumming', 'Viksha(coding)', 'Neural nexus(AI/ML), E-Cell', 'E-Cell, ChipTech, Viksha, GDSC', 'Callisto, Press Corps,Expression', 'Viksha, CyberSecurity', 'ChipTech,CyberSecurity', 'shrigandha , viksha', 'Cybersecurity', 'ChipTech, Cyber Security', 'Shrigandha , Cybersecurity,ChipTech', 'cybersecurity', 'Shrigandha', 'Callisto', 'ECell', 'Neural Nexus, Cybersecurity, Generative AI', 'Rowling elf,Chiptech,', 'Debsoc, QPulse, AMEYA', 'ECELL', 'Socials', 'Cyber security', 'Shrigandha, QPulse', 'socials, cyber security', 'ecell', 'cyber security ', 'socials,viksha', 'coding club', 'cyber security,chip tech,genertive ai', 'Viksha(coding club), Socials', 'Astronomy(Callisto), Neural Nexus , Quantum computing , Processor Architecture', 'cybersecurity,Tenacity,Chip Tech', ' Cybersecurity ', 'Viksha(coding club), Generative AI, Cybersecurity, Socials', 'cybersecurity,socials,srigandha', 'Shrignadha', 'Viksha(coding club) , Neural Nexus', 'Viksha , Socials , Generative AI', 'Viksha', 'Viksha, ChipTech, Cyber Security', 'ChipTech, CyberSec, Neural Nexus, Q-Pulse', 'expression ', 'Viksha, Generative AI', 'Neural nexus(AI/ML)', 'Cybersecurity , Chiptech', 'Viksha, Ameya', 'Neural Nexus', 'Q-Pulse', '-', 'Rowlings Elf', 'Viksha,ChipTech', 'Cybersecurity Club', 'Viksha, Callisto', 'Socials,Ameya,Srigandha', 'CYBER SECURITY', 'expressions, Raag, generative AI', 'Viksha, Cybersecurity', 'Ameya', 'E-cell, ChipTech, Viksha', 'Neual Nexus', 'carvaccess(rvce)', 'callisto astronomy club ', 'Cybersecurity ,Neural Nexus', 'Neural Nexus, Callisto, Viksha', 'Cyber Security, Possessor Architecture', 'Cybersecurity club', 'Callisto Astronomy Club', 'Viksha, Cyber Security', 'ಶ್ರೀಗಂಧ, Socials, Ameya, Cybersecurity', 'Cybersecurity, Srigandha', 'Viksha, Neural Nexus', 'callisto astronomy club, Neural Nexus, Viksha', 'Cybersecurity, Neural Nexus club ', 'cybersecurity, Neural Nexus ,Viksha']

In [3]:
batch_value = con.execute("""
    SELECT Sex, MIN(Height_cm) AS Min_Height, MAX(Height_cm) AS Max_Height, AVG(Height_cm) AS Mean_Height
    FROM students;
""").fetchall()

values = con.execute("""
    SELECT Sex, Section, MIN(Height_cm) AS Min_Height, MAX(Height_cm) AS Max_Height, AVG(Height_cm) AS Mean_Height
    FROM students
    GROUP BY Sex, Section;
""").fetchall()
print("Overall Min, Max, and Mean Heights")
for row in batch_value:
    print(f"Sex: {row[0]}, Min Height: {row[1]}, Max Height: {row[2]}, Mean Height: {row[3]}")
print("\n")
print("Min, Max, and Mean Heights by Section")
for row in values:
    print(f"Sex: {row[0]}, Section: {row[1]}, Min Height: {row[2]}, Max Height: {row[3]}, Mean Height: {row[4]}")

Overall Min, Max, and Mean Heights
Sex: -, Min Height: 7, Max Height: -, Mean Height: 169.07608695652175


Min, Max, and Mean Heights by Section
Sex: None, Section: A, Min Height: 160, Max Height: 160, Mean Height: 160.0
Sex: None, Section: B, Min Height: None, Max Height: None, Mean Height: None
Sex:  Male, Section: A, Min Height: 178, Max Height: 178, Mean Height: 178.0
Sex: -, Section: C, Min Height: -, Max Height: -, Mean Height: 0.0
Sex: FEMALE, Section: B, Min Height: 156, Max Height: 156, Mean Height: 156.0
Sex: Female, Section: A, Min Height: 152, Max Height: 177, Mean Height: 165.1764705882353
Sex: Female, Section: B, Min Height: 152, Max Height: 171, Mean Height: 160.9
Sex: Female, Section: C, Min Height: 152, Max Height: 175, Mean Height: 160.96428571428572
Sex: Female , Section: A, Min Height: 157, Max Height: 167, Mean Height: 161.33333333333334
Sex: Female , Section: B, Min Height: 163, Max Height: 163, Mean Height: 163.0
Sex: Female , Section: C, Min Height: 160, Max Height: 170, Mean Height: 165.4
Sex: Mail, Section: A, Min Height: 7, Max Height: 7, Mean Height: 7.0
Sex: Male, Section: A, Min Height: 160, Max Height: 184, Mean Height: 175.4
Sex: Male, Section: B, Min Height: 163, Max Height: 190, Mean Height: 177.77777777777777
Sex: Male, Section: C, Min Height: 168, Max Height: 190, Mean Height: 176.36
Sex: Male , Section: A, Min Height: 168, Max Height: 168, Mean Height: 168.0
Sex: Male , Section: B, Min Height: 178, Max Height: 178, Mean Height: 178.0
Sex: female, Section: A, Min Height: 164, Max Height: 164, Mean Height: 164.0
Sex: female, Section: B, Min Height: 167, Max Height: 167, Mean Height: 167.0
Sex: female, Section: C, Min Height: 157, Max Height: 157, Mean Height: 157.0
Sex: female , Section: B, Min Height: 157, Max Height: 157, Mean Height: 157.0
Sex: female , Section: C, Min Height: 158, Max Height: 158, Mean Height: 158.0
Sex: male, Section: A, Min Height: 165, Max Height: 175, Mean Height: 170.0
Sex: male, Section: B, Min Height: 168, Max Height: 188, Mean Height: 178.57142857142858
Sex: male, Section: C, Min Height: 168, Max Height: 178, Mean Height: 173.0

In [4]:
values = con.execute("""
    SELECT Name, USN, Section, Home_State, Mother_Tongue
    FROM Students
    WHERE Home_State = 'Karnataka' AND Mother_Tongue <> 'Kannada';
""").fetchall()
print("Students from Karnataka with Mother Tongue other than Kannada")
for row in values:
    print(f"Name: {row[0]}, USN: {row[1]}, Section: {row[2]}, Home_State: {row[3]}, Mother_Tongue: {row[4]}")

Students from Karnataka with Mother Tongue other than Kannada
Name: ABHISHEK, USN: 1RVU22CSE003, Section: A, Home_State: Karnataka, Mother_Tongue: Marathi
Name: ADITYA ADUKURI, USN: 1RVU22CSE007, Section: B, Home_State: Karnataka, Mother_Tongue: Telugu
Name: ADITYA RAJU A, USN: 1RVU22CSE010, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: AKSHAYA A, USN: 1RVU22CSE019, Section: C, Home_State: Karnataka, Mother_Tongue: Telugu
Name: ANANYA S KALIGAL, USN: 1RVU22CSE023, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: ANIKET ALADAMAR, USN: 1RVU22CSE026, Section: A, Home_State: Karnataka, Mother_Tongue: Kannada
Name: ANIL, USN: 1RVU22CSE027, Section: A, Home_State: Karnataka, Mother_Tongue: Kannada
Name: ANKUR KUMAR MUDULI, USN: 1RVU22CSE028, Section: C, Home_State: Karnataka, Mother_Tongue: Hinglish
Name: ARYA PG, USN: 1RVU22CSE030, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: AVANTHI NARASINGU, USN: 1RVU22CSE032, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: AVISHI SARDA, USN: 1RVU22CSE033, Section: B, Home_State: Karnataka, Mother_Tongue: Hindi
Name: DEEKSHITH R PRABHU, USN: 1RVU22CSE046, Section: B, Home_State: Karnataka, Mother_Tongue: Konkani
Name: DYUTHI RAMESH, USN: 1RVU22CSE052, Section: C, Home_State: Karnataka, Mother_Tongue: Malayalam
Name: FRANCIS MARIA SHARAN, USN: 1RVU22CSE055, Section: A, Home_State: Karnataka, Mother_Tongue: Tamil
Name: HAREENDIRAN N, USN: 1RVU22CSE061, Section: B, Home_State: Karnataka, Mother_Tongue: Tamil
Name: HARSHIT AGARWAL, USN: 1RVU22CSE063, Section: C, Home_State: Karnataka, Mother_Tongue: Hindi
Name: JIHAN RAKESH JAIN, USN: 1RVU22CSE070, Section: A, Home_State: Karnataka, Mother_Tongue: Tulu
Name: JOSELYN RIANA MANOJ, USN: 1RVU22CSE071, Section: B, Home_State: Karnataka, Mother_Tongue: Tamil
Name: CHARAN KANDIBILLA, USN: 1RVU22CSE073, Section: C, Home_State: Karnataka, Mother_Tongue: Telugu
Name: VIDHYASANJANA K, USN: 1RVU22CSE074, Section: C, Home_State: Karnataka, Mother_Tongue: Telugu
Name: KALP A JAIN, USN: 1RVU22CSE076, Section: C, Home_State: Karnataka, Mother_Tongue: Hindi
Name: KIRAN S, USN: 1RVU22CSE083, Section: B, Home_State: Karnataka, Mother_Tongue: Telugu
Name: KOMMURI JAIDEV SHANKAR REDDY, USN: 1RVU22CSE084, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: KRISHNAM VIPUL ARYA, USN: 1RVU22CSE086, Section: B, Home_State: Karnataka, Mother_Tongue: Telugu
Name: SUMEDHA L, USN: 1RVU22CSE088, Section: A, Home_State: Karnataka, Mother_Tongue: Karnataka
Name: LAKSHMI K, USN: 1RVU22CSE089, Section: B, Home_State: Karnataka, Mother_Tongue: Tamil
Name: PRACHI G, USN: 1RVU22CSE115, Section: B, Home_State: Karnataka, Mother_Tongue: Hindi
Name: PREM SP, USN: 1RVU22CSE123, Section: C, Home_State: Karnataka, Mother_Tongue: telugu
Name: PRINCE P BALAR, USN: 1RVU22CSE124, Section: C, Home_State: Karnataka, Mother_Tongue: hindi
Name: REETHU RAJESH GAYATHRI THOTA, USN: 1RVU22CSE128, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: ROHAN SINGH, USN: 1RVU22CSE131, Section: B, Home_State: Karnataka, Mother_Tongue: Hindi
Name: MONISH RAJ SR, USN: 1RVU22CSE134, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: SAANVI R PRABHU, USN: 1RVU22CSE136, Section: B, Home_State: Karnataka, Mother_Tongue: Konkani
Name: SAMYA TAJ, USN: 1RVU22CSE140, Section: C, Home_State: Karnataka, Mother_Tongue: Urdu
Name: SHIRISH BHAN, USN: 1RVU22CSE147, Section: C, Home_State: Karnataka, Mother_Tongue: Hindi
Name: SHIVARAJ MANIKASHETTI, USN: 1RVU22CSE149, Section: A, Home_State: Karnataka, Mother_Tongue: kannada
Name: SHREYANK SRINIVASAN HARISHA, USN: 1RVU22CSE152, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: SMARAN RANGARAJAN BHARADWAJ, USN: 1RVU22CSE157, Section: A, Home_State: Karnataka, Mother_Tongue: Tamil
Name: SRUTHIKA SIVAKUMAR, USN: 1RVU22CSE164, Section: A, Home_State: Karnataka, Mother_Tongue: Tamil
Name: SUBRAMANYA PRASAN, USN: 1RVU22CSE165, Section: A, Home_State: Karnataka, Mother_Tongue: Telugu
Name: SUHANI LALLA, USN: 1RVU22CSE167, Section: B, Home_State: Karnataka, Mother_Tongue: Hindi
Name: SUSHAN RAI, USN: 1RVU22CSE173, Section: C, Home_State: Karnataka, Mother_Tongue: Tulu
Name: SYED MOHAMMED WASIQ, USN: 1RVU22CSE177, Section: C, Home_State: Karnataka, Mother_Tongue: Urdu
Name: TULASI G RAYASA, USN: 1RVU22CSE181, Section: A, Home_State: Karnataka, Mother_Tongue: Tulu
Name: UZAIR SUNKAD, USN: 1RVU22CSE182, Section: B, Home_State: Karnataka, Mother_Tongue: Hindi
Name: VARNIKA KUMAR, USN: 1RVU22CSE183, Section: C, Home_State: Karnataka, Mother_Tongue: ಕನ್ನಡ
Name: VARNITA SR, USN: 1RVU22CSE184, Section: C, Home_State: Karnataka, Mother_Tongue: kannada
Name: VASANTH J, USN: 1RVU22CSE186, Section: C, Home_State: Karnataka, Mother_Tongue: ಕನ್ನಡ
Name: VENKATESH VIJAYRAJ ANKOLA, USN: 1RVU22CSE188, Section: C, Home_State: Karnataka, Mother_Tongue: ಕನ್ನಡ
Name: VIJAY SHARMITH, USN: 1RVU22CSE190, Section: B, Home_State: Karnataka, Mother_Tongue: Tamil

In [5]:
values = con.execute("""
    SELECT Section, Elective, COUNT(*) AS Student_Count
    FROM Students
    GROUP BY Section, Elective
    ORDER BY Student_Count;
""").fetchall()
print("Count of Students for Each Elective by Section")
for row in values:
    print(f"Section: {row[0]}, Elective: {row[1]}, Student Count: {row[2]}")

Count of Students for Each Elective by Section
Section: A, Elective: Community service, Student Count: 1
Section: A, Elective: Contemporary Dance, Student Count: 1
Section: A, Elective: Contemporary ance, Student Count: 1
Section: A, Elective: Contemporary dance, Student Count: 1
Section: A, Elective: Contemporary dance , Student Count: 1
Section: A, Elective: Indian Knowledge system Mathematics&Ayurveda, Student Count: 1
Section: A, Elective: Kuchipudi, Student Count: 1
Section: A, Elective: Success, Happiness and Leadership, Student Count: 1
Section: A, Elective: Success, Happiness and Leadership , Student Count: 1
Section: A, Elective: Success, leadership and lifeskill, Student Count: 1
Section: A, Elective: deciding , Student Count: 1
Section: A, Elective: photography , Student Count: 1
Section: A, Elective: success,happiness,leadership and life skills, Student Count: 1
Section: B, Elective: Community Service , Student Count: 1
Section: B, Elective: Community service , Student Count: 1
Section: B, Elective: Contemporary dance, Student Count: 1
Section: B, Elective: Null, Student Count: 1
Section: B, Elective: PHOTOGRAPHY, Student Count: 1
Section: B, Elective: Success, Happiness and Leadership, Student Count: 1
Section: B, Elective: Success, happiness,leadership and life skills, Student Count: 1
Section: B, Elective: Success,Happiness,Leadership and Lifeskills, Student Count: 1
Section: B, Elective: contemporary dance, Student Count: 1
Section: B, Elective: kuchipudi , Student Count: 1
Section: B, Elective: success, happiness and leadership, Student Count: 1
Section: C, Elective: -, Student Count: 1
Section: C, Elective: Community Service , Student Count: 1
Section: C, Elective: Community service, Student Count: 1
Section: C, Elective: Hindustani Music , Student Count: 1
Section: C, Elective: Hindustani Vocals, Student Count: 1
Section: C, Elective: Hindustani vocals , Student Count: 1
Section: C, Elective: Hindusthani Vocals, Student Count: 1
Section: C, Elective: Mixed martial arts, Student Count: 1
Section: C, Elective: Photography , Student Count: 1
Section: C, Elective: Quantity Reasoning , Student Count: 1
Section: C, Elective: Success, Happiness and Leadership, Student Count: 1
Section: C, Elective: Success, Happiness and Leadership , Student Count: 1
Section: C, Elective: Success, happiness,leadership and life skills, Student Count: 1
Section: C, Elective: Success,Leadership and Lifeskill, Student Count: 1
Section: C, Elective: community service, Student Count: 1
Section: C, Elective: community servive, Student Count: 1
Section: C, Elective: photography, Student Count: 1
Section: C, Elective: quantitative reasoning , Student Count: 1
Section: C, Elective: success, happiness and leadership and life skills , Student Count: 1
Section: A, Elective: Community Service , Student Count: 2
Section: A, Elective: Community service , Student Count: 2
Section: A, Elective: Drumming , Student Count: 2
Section: A, Elective: Indian Knowledge System: Mathematica and Ayurveda, Student Count: 2
Section: A, Elective: contemporary dance, Student Count: 2
Section: B, Elective: Indian Knowledge systems - Ayurveda and Mathematics, Student Count: 2
Section: B, Elective: Photography , Student Count: 2
Section: B, Elective: Quantitative Reasoning, Student Count: 2
Section: B, Elective: Quantitative reasoning, Student Count: 2
Section: B, Elective: drumming, Student Count: 2
Section: C, Elective: None, Student Count: 2
Section: C, Elective: Contemporary dance, Student Count: 2
Section: C, Elective: Contemporary dance , Student Count: 2
Section: C, Elective: Indian Knowledge System: Mathematica and Ayurveda, Student Count: 2
Section: C, Elective: Kuchipudi, Student Count: 2
Section: C, Elective: Success, Hapiness and Leadership, Student Count: 2
Section: C, Elective: Success,Happiness,Leadership and  life skills, Student Count: 2
Section: C, Elective: contemporary dance, Student Count: 2
Section: B, Elective: Community Service, Student Count: 3
Section: B, Elective: Success,Happiness,Leadership and  life skills, Student Count: 3
Section: C, Elective: Contemporary Dance, Student Count: 3
Section: A, Elective: Photography , Student Count: 4
Section: B, Elective: Community service, Student Count: 4
Section: B, Elective: photography, Student Count: 4
Section: C, Elective: Quantitative Reasoning, Student Count: 4
Section: A, Elective: None, Student Count: 5
Section: A, Elective: photography, Student Count: 5
Section: C, Elective: Drumming, Student Count: 5
Section: A, Elective: Community Service, Student Count: 6
Section: B, Elective: None, Student Count: 6
Section: C, Elective: Community Service, Student Count: 8
Section: A, Elective: Drumming, Student Count: 9
Section: C, Elective: Photography, Student Count: 9
Section: B, Elective: Photography, Student Count: 11
Section: A, Elective: Photography, Student Count: 12
Section: B, Elective: Drumming, Student Count: 12

In [29]:
con.close()