#### 0501_Lab  
1. Cleanse categorical data in the Student table in BTech22_\<your name\>.sqlite.

In [19]:
import pandas as pd
import os
import sqlite3 as lite
from glob import glob

dbpath = 'BTech22_reethurgt.sqlite'
con = lite.connect(dbpath)

In [20]:
df=pd.read_excel("/Users/reethu/coding/college/DBMS/Data/BTech22 Data.xlsx")

In [21]:
df.to_sql('Students', con, index=False, if_exists='append')

192

In [22]:
con.execute("SELECT * FROM sqlite_master").fetchall()

[('table',
  'Students',
  'Students',
  2,
  'CREATE TABLE "Students" (\n"USN" TEXT,\n  "Name" TEXT,\n  "Email" TEXT,\n  "Section" TEXT,\n  "Sex" TEXT,\n  "DoB" TEXT,\n  "Height_cm" TEXT,\n  "Weight_Kg" TEXT,\n  "Home_State" TEXT,\n  "Home_Town" TEXT,\n  "Mother_Tongue" TEXT,\n  "Elective" TEXT,\n  "Clubs" TEXT\n)')]

In [23]:
con.execute("CREATE TABLE Students_temp AS SELECT * FROM Students")
con.commit()

In [24]:
pd.read_sql("SELECT COUNT(*) FROM Students_temp", con)

   COUNT(*)
0       192

In [25]:
pd.read_sql("PRAGMA table_info(Students_temp)", con)

    cid           name  type  notnull dflt_value  pk
0     0            USN  TEXT        0       None   0
1     1           Name  TEXT        0       None   0
2     2          Email  TEXT        0       None   0
3     3        Section  TEXT        0       None   0
4     4            Sex  TEXT        0       None   0
5     5            DoB  TEXT        0       None   0
6     6      Height_cm  TEXT        0       None   0
7     7      Weight_Kg  TEXT        0       None   0
8     8     Home_State  TEXT        0       None   0
9     9      Home_Town  TEXT        0       None   0
10   10  Mother_Tongue  TEXT        0       None   0
11   11       Elective  TEXT        0       None   0
12   12          Clubs  TEXT        0       None   0

In [26]:
con.execute("SELECT DISTINCT Home_State FROM Students_temp").fetchall()

[('Karnataka ',),
 (None,),
 ('Karnataka',),
 ('Jammu',),
 ('Haryana',),
 ('karnataka ',),
 ('Delhi',),
 ('karnataka',),
 ('West Bengal',),
 ('Andhra Pradesh',),
 ('Telangana',),
 ('Punjab',),
 ('Goa',),
 ('Uttar Pradesh',),
 ('Rajasthan ',),
 ('Tamil Nadu',),
 ('Bihar',),
 ('Nil ',),
 ('Andhra Pradesh ',),
 ('Uttar Pradesh ',),
 ('KARNATAKA',),
 ('karntaka',),
 ('Gujarat',),
 ('Jharkhand',),
 ('-',),
 ('Rajasthan',),
 ('KARnataka',),
 ('Punjab ',),
 ('Karantaka',)]

In [27]:
query1 = """
    UPDATE Students_temp
    SET Home_State = TRIM(Home_State)
"""
query2 = """
    UPDATE Students_temp
    SET Home_State = 'Karnataka'
    WHERE Home_State IN
    ('karnataka','KARNATAKA','karntaka','KARnataka','Karantaka')
"""
query3 = """
    UPDATE Students_temp
    SET Home_State = 'unknown'
    WHERE Home_State IN ('unknown', '-', 'Nil', 'None')
"""
query4 = """
    UPDATE Students_temp
    SET Home_State = 'unknown'
    WHERE Home_State IS NULL;
"""

con.execute(query1)
con.execute(query2)
con.execute(query3)
con.execute(query4)
con.commit()

In [28]:
con.execute("SELECT DISTINCT Home_State FROM Students_temp").fetchall()

[('Karnataka',),
 ('unknown',),
 ('Jammu',),
 ('Haryana',),
 ('Delhi',),
 ('West Bengal',),
 ('Andhra Pradesh',),
 ('Telangana',),
 ('Punjab',),
 ('Goa',),
 ('Uttar Pradesh',),
 ('Rajasthan',),
 ('Tamil Nadu',),
 ('Bihar',),
 ('Gujarat',),
 ('Jharkhand',)]

In [29]:
con.execute("SELECT DISTINCT Mother_Tongue FROM Students_temp").fetchall()

[('Telugu',),
 ('English ',),
 ('Marathi',),
 ('Urdu',),
 ('Kannada',),
 ('Hindi',),
 (None,),
 ('kannada',),
 ('Kannada ',),
 ('Hinglish',),
 ('Marathi ',),
 ('Konkani',),
 ('Tamil',),
 ('Malayalam',),
 ('Hindi ',),
 ('kannada ',),
 ('tamil',),
 ('Tulu',),
 ('Karnataka',),
 ('MARATHI',),
 ('hindi',),
 ('telugu',),
 ('Gujarati',),
 ('Telugu ',),
 ('-',),
 ('KANNADA',),
 ('Punjabi',),
 ('Urdu ',),
 ('ಕನ್ನಡ',)]

In [33]:
query1 = """
    UPDATE Students_temp
    SET Mother_Tongue = TRIM(Mother_Tongue)
"""
query2 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'Telugu'
    WHERE Mother_Tongue = 'telugu'
"""
query3 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'Kannada'
    WHERE Mother_Tongue IN ('KANNADA','ಕನ್ನಡ','Karnataka','kannada')
"""
query4 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'Marathi'
    WHERE Mother_Tongue = 'MARATHI'
"""
query5 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'Hindi'
    WHERE Mother_Tongue = 'hindi'
"""
query6 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'Tamil'
    WHERE Mother_Tongue = 'tamil'
"""
query7 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'unknown'
    WHERE Mother_Tongue IN ('unknown', '-', 'Nil', 'None')
"""
query8 = """
    UPDATE Students_temp
    SET Mother_Tongue = 'unknown'
    WHERE Mother_Tongue IS NULL;
"""

con.execute(query1)
con.execute(query2)
con.execute(query3)
con.execute(query4)
con.execute(query5)
con.execute(query6)
con.execute(query7)
con.execute(query8)
con.commit()
con.execute("SELECT DISTINCT Mother_Tongue FROM Students_temp").fetchall()

[('Telugu',),
 ('English',),
 ('Marathi',),
 ('Urdu',),
 ('Kannada',),
 ('Hindi',),
 ('unknown',),
 ('Hinglish',),
 ('Konkani',),
 ('Tamil',),
 ('Malayalam',),
 ('Tulu',),
 ('Gujarati',),
 ('Punjabi',)]

2. Create look-up tables (aka master tables) for states, towns, and languages.    
Insert data.     
See [RTO Codes](https://www.v3cars.com/car-guide/state-code-regional-transport-office-rto-india) and 
Census Codes for [States and Cities](https://censusindia.gov.in/nada/index.php/catalog/42648) and 
[Language Codes](https://censusindia.gov.in/nada/index.php/catalog/42561)  
Use standard codes or abbreviations as PK.

In [34]:
con.execute("CREATE TABLE Master_Lang(Language TEXT PK, Code TEXT)")
con.execute("CREATE TABLE Master_State(State TEXT PK, Code TEXT)")
con.execute("CREATE TABLE Master_City(City TEXT PK, State_code TEXT, District_code TEXT)")
con.execute("CREATE TABLE Master_Elective(ID TEXT PK, Elective TEXT)")
con.execute("CREATE TABLE Master_Club(ID TEXT PK, Club TEXT)")

In [35]:
rows1 = [('Karnataka','KA'),
 ('Jammu','JK'),
 ('Haryana','HR'),
 ('Delhi','DL'),
 ('West Bengal','WB'),
 ('Andhra Pradesh','AP'),
 ('Telangana','TS'),
 ('Punjab','PB'),
 ('Goa','GA'),
 ('Uttar Pradesh','UP'),
 ('Rajasthan','RJ'),
 ('Tamil Nadu','TN'),
 ('Bihar','BR'),
 ('Unknown','Unknown'),
 ('Gujarat','GJ'),
 ('Jharkhand','JH')]

con.executemany("INSERT INTO Master_State(State,Code) VALUES(?,?)",rows1)

In [36]:
rows2 = [('Mysuru',577, 5572),
 ('Bengaluru',572,000),
 ('Bidar',574,5558),
 ('Bathindi',0,0),
 ('Ballari',572,54432),
 ('Raichur',559,000),
 ('Hubballi',562,5475),
 ('Mandya',573,550),
 ('Chitradurga',566,000),
 ('Kalaburgi',677,2322),
 ('Maahishmati',720,13455),
 ('Hosapete',554,23111),
 ('New Delhi',1,000),
 ('Dharwad',563,65443),
 ('Kolkata',456,12364),
 ('Tirupati',245,13453),
 ('Chikkamagaluru',533,4546),
 ('Shivamogga',523,12253),
 ('Hyderabad',252,6553),
 ('Adoni',765,3312),
 ('Nagoor',332,75234),
 ('Amritsar',124,32345),
 ('Goa',597,6536),
 ('Bidadi',553,13443),
 ('Saharanpur',311,564),
 ('Abu Road',00,00),
 ('Chennai',653,13354),
 ('Haveri',524,43543),
 ('Yadgir',592,93489),
 ('Tumkur',642,45211),
 ('Dharbanga',674,7653),
 ('Davengere',906,46222),
 ('None',00,00),
 ('Lucknow',567,13534),
 ('Chikkaballapur',876,56533),
 ('Gangavathi',977,3132),
 ('Vijayapuraa',564,1329),
 ('Ahmedabad',1333,6756),
 ('Chittoor',233,5676),
 ('Mudigere',133,65655),
 ('Kolar',454,43544),
 ('Gajendragad',565,2323),
 ('Jamshedpur',565,7654),
 ('Belagavi',554,5643),
 ('Hassan',243,56765),
 ('Mangalore',231,56754),
 ('Magadi',654,24353),
 ('Ananthapur',657,2345),
 ('Vijayapura',765,52324),
 ('Jaipur',675,23475)]

con.executemany("INSERT INTO Master_City(city,State_Code,District_code) VALUES(?,?,?)",rows2)

In [37]:
rows3 = [('Telugu','te'),
 ('English','en'),
 ('Marathi','mr'),
 ('Urdu','ur'),
 ('Kannada','kn'),
 ('Hindi','hi'),
 ('Hinglish','he'),
 ('Konkani','kok'),
 ('Tamil','ta'),
 ('Malayalam','ml'),
 ('Tulu','tl'),
 ('Gujarati','gu'),
 ('Punjabi','pa')]

con.executemany("INSERT INTO Master_Lang(Language, Code) VALUES(?,?)",rows3)

In [38]:
query = """
  UPDATE Students_temp
     SET Home_State = Master_State.code
     FROM Master_State
        WHERE Master_State.State = Students_temp.Home_State
"""
con.execute(query)
con.commit()

In [39]:
sql = """
    ALTER TABLE Students_temp
    RENAME COLUMN Home_State TO state_id;
"""
con.execute(sql)

In [40]:
pd.read_sql("SELECT Name,Section,state_id FROM Students_temp", con)

                              Name Section state_id
0                 SHREE VYSHNAVI A       B       KA
1              AARON ARTHUR ELISHA       A  unknown
2                         ABHISHEK       A       KA
3                    ABRAR HUSSAIN       B       JK
4                          ADITI A       B       KA
5                      ADITYA GARG       C       HR
6                   ADITYA ADUKURI       B       KA
7                    ADITYA KUSHAL       A       KA
8                         ADITYA P       A       KA
9                    ADITYA RAJU A       A       KA
10              ADOKSH M BHARADWAJ       A       KA
11             ADVIK RAJESH HOLALU       A       KA
12                         AJAYK P       B       KA
13                    AJAY S PATIL       A       KA
14                  AJAY S PRAKASH       A       KA
15              AKARSH KUMAR GOWDA       C       KA
16             AKSHATH S BHANDIWAD       A       KA
17                        AKSHAY B       B       KA
18                       AKSHAYA A       C       KA
19                       AMRUTHA M       C       KA
20                   ANAGHA NAGESH       A       KA
21                      ANANY SONI       B  unknown
22                ANANYA S KALIGAL       A       KA
23                    ANANYA VERMA       C       DL
24               ANEESH B KULKARNI       B       KA
25                 ANIKET ALADAMAR       A       KA
26                            ANIL       A       KA
27              ANKUR KUMAR MUDULI       C       KA
28                         ANUSHKA       B       KA
29                         ARYA PG       A       KA
30                   ARYAMAN KUMAR       C       WB
31               AVANTHI NARASINGU       A       KA
32                    AVISHI SARDA       B       KA
33                       NISCHIT B       B       AP
34              ANIRUDH HEBBAR BV        B       KA
35             BHARGAVA SRINIVASAN       C       KA
36                        BINDU TD       A       KA
37              BUSIREDDY GREESHMA       B  unknown
38                 KASHISH VARMA C       A       KA
39                 CHANDAN GOWDA G       C       KA
40                     CHANDANA DS       C       KA
41                   CHINMAY UMESH       B       KA
42          CHINTHALA UPAGNA REDDY       C       TS
43    DAIWIK REDDY THIMMANACHARALA       B       AP
44              DEEKSHITH R PRABHU       B       KA
45                   DEEKSHITHA SK       C       KA
46                    DHRUV KHANNA       B       PB
47                DHRUV SUDHIR PAI       B       GA
48                        DHYAN MS       A       KA
49            DURGA PRASAD C REDDY       B  unknown
50                   DYUTHI RAMESH       C       KA
51                       EVA SAINI       C       UP
52               FARHEEN CHOWDHARY       C       RJ
53            FRANCIS MARIA SHARAN       A       KA
54                      KEERTHI GM       B       AP
55                        MOHITH G       A       KA
56                        RAMYA GR       C       KA
57                     GIRIDHAR DU       B       KA
58                   GOWRI GALGALI       A       KA
59                   HAREENDIRAN N       B       KA
60          HARSHINI MRIDULA MOHAN       C       TN
61                 HARSHIT AGARWAL       C       KA
62                      HARSHITA S       C       KA
63         HEMAREDDY MARUTI RATHOD       A       KA
64           HITHIESH VIJAYA KUMAR       B       KA
65                       INCHARA T       C       KA
66                    REX JOSEPH J       B       KA
67                       JEEVAN EG       C       KA
68               JIHAN RAKESH JAIN       A       KA
69             JOSELYN RIANA MANOJ       B       KA
70                         JOYCE M       B       KA
71               CHARAN KANDIBILLA       C       KA
72                 VIDHYASANJANA K       C       KA
73                     KALASH JAIN       B       BR
74                     KALP A JAIN       C       KA
75              KARMISHTHA PATNAIK       C  unknown
76                KARTEKEYA SHARMA       B  unknown
77                      KARTHIK KV       B       KA
78          KATIKE MOHAMMED SOHAIL       A       KA
79                    KAVYASHREE M       C       KA
80                KEERTHAN KUMAR M       B       KA
81                         KIRAN S       B       KA
82    KOMMURI JAIDEV SHANKAR REDDY       A       KA
83                 MUKTHA KOTNADA        C       AP
84             KRISHNAM VIPUL ARYA       B       KA
85                 KUSHAAL R GOWDA       A  unknown
86                       SUMEDHA L       A       KA
87                       LAKSHMI K       B       KA
88                      LAVANYA VT       A       KA
89                       LIKHITH S       C       KA
90                        LINGARAJ       B  unknown
91                  LOHITH R GOWDA       A       KA
92                      PRITHVIN M       A       KA
93                     PHANIRAJ MV       B       AP
94                MAANYA MANJUNATH       B       KA
95                   MADAN GOWDA M       B       KA
96               MAITHILI K HEBBAR       C       KA
97                        MANOJ YN       C       KA
98                     MANVI SINHA       C       UP
99             MANVITHA R KABBATHI       A       KA
100                 MAUNESH SAWARE       B       KA
101                          MAYUR       C       KA
102                        MILAN C       B       KA
103             MOHAMMED FOUZAN DH       C       KA
104                 MOKSHITH PUTTA       A       KA
105                  MUGDHA SURESH       A       KA
106                     NAIPUNYA P       A       KA
107                NANDEESH KANTLI       C       KA
108                      NAYANA CV       A       KA
109                 NISCHAY SANJAY       B       KA
110               NITHISH NAGENDRA       B       KA
111                     NIVEDAN BR       A       KA
112                    PAVAN KUMAR       A       KA
113                       PRACHI G       B       KA
114                   PRAJNA ANAND       A       KA
115                     PRAJWAL RR       B       KA
116                  PRAJWAL K URS       B       KA
117              PRANAV P KULKARNI       C       KA
118                PRARTHANA PATIL       A       KA
119                     PRATHAM GR       B       KA
120                      PRATHAM K       A       KA
121                        PREM SP       C       KA
122                 PRINCE P BALAR       C       KA
123             PUBALI CHAKRABORTY       C  unknown
124               RADHIKA PISIPATI       C       TS
125              RAJESHWARI NIMBAL       C       KA
126   REETHU RAJESH GAYATHRI THOTA       A       KA
127                     RENU BOJJA       C       TS
128          REVATI SIDDARAM METRI       A       KA
129                    ROHAN SINGH       B       KA
130           RUDRA BHAVIN TRIVEDI       B       GJ
131                       BALAJI S       B  unknown
132                  MONISH RAJ SR       A       KA
133                      SHREYAS S       A       KA
134                SAANVI R PRABHU       B       KA
135                 SAANYA SATHISH       C       KA
136            SAATVIK B HAMPIHOLI       A       KA
137                 SAHITHI MANNAR       C       AP
138                      SAMYA TAJ       C       KA
139                      SANDHYA J       C       KA
140     SANGAMESH RAMESH YANKANCHI       A       KA
141                       SANJAN D       B       KA
142                     SATWIK RAJ       B  unknown
143                SHASHANK GAUTAM       B       JH
144                    SHAYAN AZMI       B       UP
145                   SHIRISH BHAN       C       KA
146                   SHIVAM KUMAR       C  unknown
147          SHIVARAJ MANIKASHETTI       A       KA
148               SHRAVYA HANASOGE       C       KA
149            SHREYA V RUDRAGANTI       C       KA
150    SHREYANK SRINIVASAN HARISHA       A       KA
151                      SHREYAS R       A       KA
152                 SHRUTI SOLANKI       C       RJ
153                  SIDDHARTHA AK       A       KA
154                      SKANDA KS       B       KA
155    SMARAN RANGARAJAN BHARADWAJ       A       KA
156                       SOHAN YS       B       KA
157                SOUJANYA MANASA       A       KA
158                   SOUNDARYA MP       B       KA
159              SRIHARI R ACHARYA       C       KA
160                  SRIKRISHNA UN       C       KA
161             SRIVARENYA THULUVA       B       KA
162             SRUTHIKA SIVAKUMAR       A       KA
163              SUBRAMANYA PRASAN       A       KA
164                    SUDHANVA MS       A       KA
165                   SUHANI LALLA       B       KA
166                       SUHAS HM       B       KA
167                        SUJAL R       A       KA
168               SUKIN V HIREMATH       B       KA
169                 SUNAINHA VIJAY       C       KA
170               SUNKESULA HIMAJA       C       AP
171                     SUSHAN RAI       C       KA
172  SUSHMITA GURABALAPPA HATTALLI       C       KA
173                   SWARAJ SINGH       B       PB
174              SYED HASHIR AHMED       A       KA
175            SYED MOHAMMED WASIQ       C       KA
176                       MOHITH T       B       KA
177                TANISHA IBRAHIM       A  unknown
178                TERESA VARGHESE       A       KA
179                TULASI G RAYASA       A       KA
180                   UZAIR SUNKAD       B       KA
181                  VARNIKA KUMAR       C       KA
182                     VARNITA SR       C       KA
183                       VARSHA C       C       KA
184                      VASANTH J       C       KA
185             VEDANSH MAHESHWARI       C       RJ
186      VENKATESH VIJAYRAJ ANKOLA       C       KA
187                VIBHU POTTEKULA       C       KA
188                 VIJAY SHARMITH       B       KA
189                 VIKASH KASHYAP       A       KA
190              VISMITHA PRIYANKA       A       KA
191                   YASHWANTH BU       A       KA

In [42]:
query = """
  UPDATE Students_temp
     SET Mother_Tongue = Master_Lang.code
     FROM Master_Lang
        WHERE Master_Lang.Language = Students_temp.Mother_Tongue
"""
con.execute(query)
con.commit()

In [43]:
sql = """
    ALTER TABLE Students_temp
    RENAME COLUMN Mother_Tongue TO Language_id;
"""
con.execute(sql)

In [44]:
pd.read_sql("SELECT Name,Section,Language_id FROM Students_temp", con)

                              Name Section Language_id
0                 SHREE VYSHNAVI A       B          te
1              AARON ARTHUR ELISHA       A          en
2                         ABHISHEK       A          mr
3                    ABRAR HUSSAIN       B          ur
4                          ADITI A       B          kn
5                      ADITYA GARG       C          hi
6                   ADITYA ADUKURI       B          te
7                    ADITYA KUSHAL       A          kn
8                         ADITYA P       A     unknown
9                    ADITYA RAJU A       A          te
10              ADOKSH M BHARADWAJ       A          kn
11             ADVIK RAJESH HOLALU       A          kn
12                         AJAYK P       B          kn
13                    AJAY S PATIL       A          kn
14                  AJAY S PRAKASH       A          kn
15              AKARSH KUMAR GOWDA       C          kn
16             AKSHATH S BHANDIWAD       A          kn
17                        AKSHAY B       B          te
18                       AKSHAYA A       C          te
19                       AMRUTHA M       C          kn
20                   ANAGHA NAGESH       A          kn
21                      ANANY SONI       B     unknown
22                ANANYA S KALIGAL       A          te
23                    ANANYA VERMA       C          hi
24               ANEESH B KULKARNI       B          kn
25                 ANIKET ALADAMAR       A          kn
26                            ANIL       A          kn
27              ANKUR KUMAR MUDULI       C          he
28                         ANUSHKA       B          mr
29                         ARYA PG       A          te
30                   ARYAMAN KUMAR       C          hi
31               AVANTHI NARASINGU       A          te
32                    AVISHI SARDA       B          hi
33                       NISCHIT B       B          te
34              ANIRUDH HEBBAR BV        B          kn
35             BHARGAVA SRINIVASAN       C          kn
36                        BINDU TD       A          kn
37              BUSIREDDY GREESHMA       B     unknown
38                 KASHISH VARMA C       A          kn
39                 CHANDAN GOWDA G       C          kn
40                     CHANDANA DS       C          kn
41                   CHINMAY UMESH       B          kn
42          CHINTHALA UPAGNA REDDY       C          te
43    DAIWIK REDDY THIMMANACHARALA       B          te
44              DEEKSHITH R PRABHU       B         kok
45                   DEEKSHITHA SK       C          kn
46                    DHRUV KHANNA       B          hi
47                DHRUV SUDHIR PAI       B         kok
48                        DHYAN MS       A          ta
49            DURGA PRASAD C REDDY       B          kn
50                   DYUTHI RAMESH       C          ml
51                       EVA SAINI       C          hi
52               FARHEEN CHOWDHARY       C          hi
53            FRANCIS MARIA SHARAN       A          ta
54                      KEERTHI GM       B          kn
55                        MOHITH G       A          kn
56                        RAMYA GR       C          kn
57                     GIRIDHAR DU       B          kn
58                   GOWRI GALGALI       A          kn
59                   HAREENDIRAN N       B          ta
60          HARSHINI MRIDULA MOHAN       C          ta
61                 HARSHIT AGARWAL       C          hi
62                      HARSHITA S       C          kn
63         HEMAREDDY MARUTI RATHOD       A          kn
64           HITHIESH VIJAYA KUMAR       B          kn
65                       INCHARA T       C          kn
66                    REX JOSEPH J       B          ta
67                       JEEVAN EG       C          kn
68               JIHAN RAKESH JAIN       A          tl
69             JOSELYN RIANA MANOJ       B          ta
70                         JOYCE M       B          kn
71               CHARAN KANDIBILLA       C          te
72                 VIDHYASANJANA K       C          te
73                     KALASH JAIN       B          tl
74                     KALP A JAIN       C          hi
75              KARMISHTHA PATNAIK       C          hi
76                KARTEKEYA SHARMA       B          hi
77                      KARTHIK KV       B          kn
78          KATIKE MOHAMMED SOHAIL       A     unknown
79                    KAVYASHREE M       C          kn
80                KEERTHAN KUMAR M       B          kn
81                         KIRAN S       B          te
82    KOMMURI JAIDEV SHANKAR REDDY       A          te
83                 MUKTHA KOTNADA        C          kn
84             KRISHNAM VIPUL ARYA       B          te
85                 KUSHAAL R GOWDA       A     unknown
86                       SUMEDHA L       A          kn
87                       LAKSHMI K       B          ta
88                      LAVANYA VT       A          kn
89                       LIKHITH S       C          kn
90                        LINGARAJ       B     unknown
91                  LOHITH R GOWDA       A          kn
92                      PRITHVIN M       A          kn
93                     PHANIRAJ MV       B          te
94                MAANYA MANJUNATH       B          kn
95                   MADAN GOWDA M       B          kn
96               MAITHILI K HEBBAR       C          kn
97                        MANOJ YN       C          kn
98                     MANVI SINHA       C          hi
99             MANVITHA R KABBATHI       A          kn
100                 MAUNESH SAWARE       B          mr
101                          MAYUR       C          kn
102                        MILAN C       B          kn
103             MOHAMMED FOUZAN DH       C          hi
104                 MOKSHITH PUTTA       A          te
105                  MUGDHA SURESH       A          kn
106                     NAIPUNYA P       A          kn
107                NANDEESH KANTLI       C          kn
108                      NAYANA CV       A          kn
109                 NISCHAY SANJAY       B          te
110               NITHISH NAGENDRA       B          kn
111                     NIVEDAN BR       A          kn
112                    PAVAN KUMAR       A          kn
113                       PRACHI G       B          hi
114                   PRAJNA ANAND       A          kn
115                     PRAJWAL RR       B          kn
116                  PRAJWAL K URS       B          kn
117              PRANAV P KULKARNI       C          kn
118                PRARTHANA PATIL       A          kn
119                     PRATHAM GR       B          kn
120                      PRATHAM K       A          te
121                        PREM SP       C          te
122                 PRINCE P BALAR       C          hi
123             PUBALI CHAKRABORTY       C     unknown
124               RADHIKA PISIPATI       C          te
125              RAJESHWARI NIMBAL       C          kn
126   REETHU RAJESH GAYATHRI THOTA       A          te
127                     RENU BOJJA       C          te
128          REVATI SIDDARAM METRI       A          kn
129                    ROHAN SINGH       B          hi
130           RUDRA BHAVIN TRIVEDI       B          gu
131                       BALAJI S       B     unknown
132                  MONISH RAJ SR       A          te
133                      SHREYAS S       A          kn
134                SAANVI R PRABHU       B         kok
135                 SAANYA SATHISH       C          kn
136            SAATVIK B HAMPIHOLI       A          kn
137                 SAHITHI MANNAR       C          te
138                      SAMYA TAJ       C          ur
139                      SANDHYA J       C          te
140     SANGAMESH RAMESH YANKANCHI       A          kn
141                       SANJAN D       B          kn
142                     SATWIK RAJ       B     unknown
143                SHASHANK GAUTAM       B          hi
144                    SHAYAN AZMI       B          hi
145                   SHIRISH BHAN       C          hi
146                   SHIVAM KUMAR       C     unknown
147          SHIVARAJ MANIKASHETTI       A          kn
148               SHRAVYA HANASOGE       C          kn
149            SHREYA V RUDRAGANTI       C          kn
150    SHREYANK SRINIVASAN HARISHA       A          te
151                      SHREYAS R       A          kn
152                 SHRUTI SOLANKI       C          hi
153                  SIDDHARTHA AK       A          kn
154                      SKANDA KS       B          kn
155    SMARAN RANGARAJAN BHARADWAJ       A          ta
156                       SOHAN YS       B          kn
157                SOUJANYA MANASA       A          kn
158                   SOUNDARYA MP       B          kn
159              SRIHARI R ACHARYA       C          kn
160                  SRIKRISHNA UN       C          kn
161             SRIVARENYA THULUVA       B          te
162             SRUTHIKA SIVAKUMAR       A          ta
163              SUBRAMANYA PRASAN       A          te
164                    SUDHANVA MS       A          kn
165                   SUHANI LALLA       B          hi
166                       SUHAS HM       B          kn
167                        SUJAL R       A          kn
168               SUKIN V HIREMATH       B          kn
169                 SUNAINHA VIJAY       C          te
170               SUNKESULA HIMAJA       C          te
171                     SUSHAN RAI       C          tl
172  SUSHMITA GURABALAPPA HATTALLI       C          kn
173                   SWARAJ SINGH       B          pa
174              SYED HASHIR AHMED       A          ur
175            SYED MOHAMMED WASIQ       C          ur
176                       MOHITH T       B          te
177                TANISHA IBRAHIM       A     unknown
178                TERESA VARGHESE       A          ml
179                TULASI G RAYASA       A          tl
180                   UZAIR SUNKAD       B          hi
181                  VARNIKA KUMAR       C          kn
182                     VARNITA SR       C          kn
183                       VARSHA C       C          kn
184                      VASANTH J       C          kn
185             VEDANSH MAHESHWARI       C          hi
186      VENKATESH VIJAYRAJ ANKOLA       C          kn
187                VIBHU POTTEKULA       C          kn
188                 VIJAY SHARMITH       B          ta
189                 VIKASH KASHYAP       A          kn
190              VISMITHA PRIYANKA       A          kn
191                   YASHWANTH BU       A          kn

3. Create tables for electives and clubs.  
    Their PK may be auto-incremented.  
    Insert data.

In [45]:
query = """
    UPDATE Students_temp
    SET elective = TRIM(elective)
"""
con.execute(query)

In [46]:
con.execute("SELECT DISTINCT elective FROM Students_temp").fetchall()

[('Photography',),
 ('Community service',),
 ('Drumming',),
 ('Indian Knowledge System: Mathematica and Ayurveda',),
 ('Success, Happiness and Leadership',),
 ('Hindusthani Vocals',),
 ('Contemporary dance',),
 (None,),
 ('Contemporary ance',),
 ('Contemporary Dance',),
 ('contemporary dance',),
 ('Mixed martial arts',),
 ('Success,Happiness,Leadership and Lifeskills',),
 ('Community Service',),
 ('photography',),
 ('Success, Hapiness and Leadership',),
 ('Quantitative Reasoning',),
 ('Quantitative reasoning',),
 ('Indian Knowledge systems - Ayurveda and Mathematics',),
 ('Quantity Reasoning',),
 ('success, happiness and leadership and life skills',),
 ('Hindustani Vocals',),
 ('Success,Happiness,Leadership and  life skills',),
 ('Hindustani vocals',),
 ('Null',),
 ('success, happiness and leadership',),
 ('success,happiness,leadership and life skills',),
 ('community servive',),
 ('drumming',),
 ('Kuchipudi',),
 ('community service',),
 ('Success, happiness,leadership and life skills',),
 ('Hindustani Music',),
 ('Indian Knowledge system Mathematics&Ayurveda',),
 ('deciding',),
 ('Success, leadership and lifeskill',),
 ('-',),
 ('Success,Leadership and Lifeskill',),
 ('PHOTOGRAPHY',),
 ('kuchipudi',),
 ('quantitative reasoning',)]

In [47]:
ele = [(1,'Photography '),
 (2,'Community service '),(3,'Drumming'),(4,'Indian Knowledge System: Mathematica and Ayurveda'),
 (5,'Success, Happiness and Leadership'),
 (6,'Hindusthani Vocals'),
 (7,'Contemporary dance '),(8,'Mixed martial arts'),(9,'Kuchipudi'),]

In [49]:
con.executemany("INSERT INTO Master_Elective(ID, Elective) VALUES(?,?)",ele)

In [54]:
pd.read_sql("SELECT * FROM Master_Elective",con)

  ID                                           Elective
0  1                                       Photography
1  2                                 Community service
2  3                                           Drumming
3  4  Indian Knowledge System: Mathematica and Ayurveda
4  5                  Success, Happiness and Leadership
5  6                                 Hindusthani Vocals
6  7                                Contemporary dance
7  8                                 Mixed martial arts
8  9                                          Kuchipudi

In [50]:
club = [(1,'cybersecurity'), (2,'Neural Nexus') ,(3,'Viksha'),(4,'callisto astronomy club'),(5,'ಶ್ರೀಗಂಧ'),(6,'Possessor Architecture'),(7,'carvaccess(rvce)'),(8,'E-cell'),(9,'expressions'), (10,'Raag'), (11,'generative AI'),(12,'Q-Pulse',),
 (13,'Rowlings Elf',),(14,'Socials'),(15,'AMEYA'),(16,'Debsoc'),(17,'Happy tails')]

In [52]:
con.executemany("INSERT INTO Master_Club(ID, Club) VALUES(?,?)",club)

In [53]:
pd.read_sql("SELECT * FROM Master_Club",con)

    ID                     Club
0    1            cybersecurity
1    2             Neural Nexus
2    3                   Viksha
3    4  callisto astronomy club
4    5                  ಶ್ರೀಗಂಧ
5    6   Possessor Architecture
6    7         carvaccess(rvce)
7    8                   E-cell
8    9              expressions
9   10                     Raag
10  11            generative AI
11  12                  Q-Pulse
12  13             Rowlings Elf
13  14                  Socials
14  15                    AMEYA
15  16                   Debsoc
16  17              Happy tails

In [55]:
con.commit()
con.close()