### Sample for SEE

Using databases 'KA_MLA_2018_to_2023' and 'KA2023_Winners' to practice.

In [1]:
import pandas as pd
import os
import sqlite3 as lite
from glob import glob

dbpath = 'see_sample.sqlite'
con = lite.connect(dbpath)
cursor = con.cursor()

In [2]:
con.execute('PRAGMA foreign_keys = ON;')

1. Creating lookup table KA_Constituencies

In [3]:
data1 = pd.read_csv('/Users/reethu/coding/college/DBMS/Databases/KA_MLA_2018_to_2023.csv')
data1

     AC_Num      Constituency                    MLA_Name Party
0         1           Nippani  Shashikala Annasaheb Jolle   BJP
1         2  Chikkodi-Sadalga              Ganesh Hukkeri   INC
2         3            Athani           Mahesh Kumathalli   BJP
3         4            Kagwad               Srimant Patil   BJP
4         5           Kudachi                   P. Rajeev   BJP
..      ...               ...                         ...   ...
219     220      T Narasipura             Ashvin Kumar M.   JDS
220     221             Hanur                 R. Narendra   INC
221     222          Kollegal                   N. Mahesh   BJP
222     223     Chamrajanagar         C. Puttarangashetty   INC
223     224         Gundlupet         C.S. Niranjan Kumar   BJP

[224 rows x 4 columns]

In [4]:
table1 = """
   CREATE TABLE KA_Constituencies(
     AC_Num INTEGER Primary Key,
     AC_Name TEXT)
"""
con.execute(table1)
con.commit()

In [5]:
insert_sql1 = "INSERT INTO KA_Constituencies(AC_Num, AC_Name) VALUES (?, ?)"

for index, row in data1.iterrows():
    values = (row['AC_Num'], row['Constituency'])
    cursor.execute(insert_sql1, values)
    
con.commit()
pd.read_sql("Select * from KA_Constituencies", con)

     AC_Num           AC_Name
0         1           Nippani
1         2  Chikkodi-Sadalga
2         3            Athani
3         4            Kagwad
4         5           Kudachi
..      ...               ...
219     220      T Narasipura
220     221             Hanur
221     222          Kollegal
222     223     Chamrajanagar
223     224         Gundlupet

[224 rows x 2 columns]

2. Creating table MLA_2018

In [6]:
table2 = """ CREATE TABLE MLA_2018(
        AC_Num INTEGER Primary Key,
        MLA_Name Text,
        Party Text,
        FOREIGN KEY (AC_Num) REFERENCES KA_Constituencies(AC_Num))
      """
con.execute(table2)
con.commit()
pd.read_sql("PRAGMA table_info(MLA_2018)", con)

   cid      name     type  notnull dflt_value  pk
0    0    AC_Num  INTEGER        0       None   1
1    1  MLA_Name     TEXT        0       None   0
2    2     Party     TEXT        0       None   0

In [7]:
insert_sql2 = "INSERT INTO MLA_2018(AC_Num, MLA_Name, Party) VALUES (?, ?, ?)"

for index, row in data1.iterrows():
    values = (row['AC_Num'], row['MLA_Name'], row['Party'])
    cursor.execute(insert_sql2, values)
    
con.commit()

In [8]:
pd.read_sql("Select * from MLA_2018",con)

     AC_Num                    MLA_Name Party
0         1  Shashikala Annasaheb Jolle   BJP
1         2              Ganesh Hukkeri   INC
2         3           Mahesh Kumathalli   BJP
3         4               Srimant Patil   BJP
4         5                   P. Rajeev   BJP
..      ...                         ...   ...
219     220             Ashvin Kumar M.   JDS
220     221                 R. Narendra   INC
221     222                   N. Mahesh   BJP
222     223         C. Puttarangashetty   INC
223     224         C.S. Niranjan Kumar   BJP

[224 rows x 3 columns]

3. Creating table MLA_2023

In [9]:
data2 = pd.read_excel('/Users/reethu/coding/college/DBMS/Databases/KA2023_Winners.xlsx')
data2

    Sl No.  Constituency Name                        Winners     Party
0        1            Nippani     Jolle Shashikala Annasaheb       BJP
1        2   Chikkodi-Sadalga         Ganesh Prakash Hukkeri  Congress
2        3             Athani                  Laxman Savadi  Congress
3        4             Kagwad      Bharamgouda Alagouda Kage  Congress
4        5       Kudachi (SC)  Mahendra Kallappa Tammannavar  Congress
..     ...                ...                            ...       ...
219    220  T. Narasipur (SC)             Dr H C Mahadevappa  Congress
220    221              Hanur                  M R Manjunath     JD(S)
221    222      Kollegal (SC)              A R Krishnamurthy  Congress
222    223     Chamarajanagar             C Puttarangashetty  Congress
223    224          Gundlupet              H M Ganesh Prasad  Congress

[224 rows x 4 columns]

In [10]:
table3 = """ CREATE TABLE MLA_2023(
        AC_Num INTEGER Primary Key,
        MLA_Name Text,
        Party Text,
        FOREIGN KEY (AC_Num) REFERENCES KA_Constituencies(AC_Num))
      """
con.execute(table3)
con.commit()
pd.read_sql("PRAGMA table_info(MLA_2023)", con)

   cid      name     type  notnull dflt_value  pk
0    0    AC_Num  INTEGER        0       None   1
1    1  MLA_Name     TEXT        0       None   0
2    2     Party     TEXT        0       None   0

In [11]:
data2.to_sql('MLA_2023_temp',con, if_exists='replace',index=False)

224

In [12]:
pd.set_option('display.max_rows', None)
pd.read_sql("Select * from MLA_2023_temp",con)

,Sl No.,Constituency Name,Winners,Party
0,1,Nippani,Jolle Shashikala Annasaheb,BJP
1,2,Chikkodi-Sadalga,Ganesh Prakash Hukkeri,Congress
2,3,Athani,Laxman Savadi,Congress
3,4,Kagwad,Bharamgouda Alagouda Kage,Congress
4,5,Kudachi (SC),Mahendra Kallappa Tammannavar,Congress
5,6,Raybag (SC),Aihole Duryodhan Mahalingappa,BJP
6,7,Hukkeri,Katti Nikhil Umesh,BJP
7,8,Arabhavi,Balachandra Laxmanrao Jarkiholi,BJP
8,9,Gokak,Jarkiholi Ramesh Laxmanrao,BJP
9,10,Yemkanmardi (ST),Satish Jarkiholi,Congress
10,11,Belgaum Uttar,Asif (Raju) Sait,Congress
11,12,Belgaum Dakshin,Abhay Patil,BJP
12,13,Belgaum Rural,Laxmi R Hebbalkar,Congress
13,14,Khanapur,Vithal Somanna Halagekar,BJP
14,15,Kittur,Babasaheb Patil,Congress
15,16,Bailhongal,Koujalagi Mahantesh Shivanand,Congress
16,17,Saundatti Yellamma,Vishwas Vasant Vaidya,Congress
17,18,Ramdurg,Ashok Mahadevappa Pattan,Congress
18,19,Mudhol (SC),Timmapur Ramappa Balappa,Congress
19,20,Terdal,Siddu Savadi,BJP
20,21,Jamkhandi,Jagadeesh Shivayya Gudagunti,BJP
21,22,Bilgi,J T Patil,Congress
22,23,Badami,B B Chimmanakatti,Congress
23,24,Bagalkot,Meti Hullappa Yamanappa,Congress
24,25,Hungund,Kashappanavara Vijayanand Shivashankarappa,Congress
25,26,Muddebihal,Appaji A Channabasavaraj,Congress
26,27,Devar Hippargi,Bhimanagouda Basanagouda Patil,JD(S)
27,28,Basavana Bagevadi,Shivanand Patil,Congress
28,29,Babaleshwar,M B Patil,Congress
29,30,Bijapur City,Basanagouda R Patil,BJP
30,31,Nagathan (SC),Katakadhond Vitthal Dondiba,Congress
31,32,Indi,Yashavantaraygoud. Vittalagoud. Patil,Congress
32,33,Sindagi,Ashok Mallappa Managuli,Congress
33,34,Afzalpur,M.Y.Patil,Congress
34,35,Jewargi,Ajay Singh,Congress
35,36,Shorapur (ST),Raja Venkatappa Naik,Congress
36,37,Shahapur,Sharanabasappa Drashanpur,Congress
37,38,Yadgir,Channareddy Patil Tunnur,Congress
38,39,Gurmitkal,Sharana Gowda Kandakur,JD(S)
39,40,Chittapur (SC),Priyank Kharge,Congress
40,41,Sedam,Dr Sharanprakash Rudrappa Patil,Congress
41,42,Chincholi (SC),Avinash Umesh Jadhav,BJP
42,43,Gulbarga Rural (SC),Basawaraj Mattimudu,BJP
43,44,Gulbarga Dakshin,Allamprabhu Patil,Congress
44,45,Gulbarga Uttar,Kaneez Fatima,Congress
45,46,Aland,Bhojaraj,Congress
46,47,Basavakalyan,Sharanu Salagar,BJP
47,48,Homnabad,Siddu Patil,BJP
48,49,Bidar South,DR. Shailendra Beldale,BJP
49,50,Bidar,Rahim Khan,Congress
50,51,Bhalki,Eshwar Khandre,Congress
51,52,Aurad (SC),Prabhu B Chavan,BJP
52,53,Raichur Rural (ST),Basanagouda Daddal,Congress
53,54,Raichur,Dr. Shivaraj Patil,BJP
54,55,Manvi (ST),G Hampayya Nayak,Congress
55,56,Devadurga (ST),Karemma,JD(S)
56,57,Lingsugur (SC),Manappa D Vajjal,BJP
57,58,Sindhanur,Hampanagouda Badarli,Congress
58,59,Maski (ST),Basan Gouda Turvihal,Congress
59,60,Kushtagi,D Hanamagouda Patil,BJP
60,61,Kanakagiri (SC),Tangadagi Shivaraj Sangappa,Congress
61,62,Gangawati,Janardhan Reddy,KRPP
62,63,Yelburga,Basavaraj Rayareddi,Congress
63,64,Koppal,K Raghavendra Basavaraj Hitnal,Congress
64,65,Shirahatti (SC),Dr Chandru Lamani,BJP
65,66,Gadag,H K Patil,Congress
66,67,Ron,Gurupadagouda Sanganagouda Patil,Congress
67,68,Nargund,C C Patil,BJP
68,69,Navalgund,Ningaraddi Hanamaraddi Konaraddi,Congress
69,70,Kundgol,M R Patil,BJP
70,71,Dharwad,Vinay Kulkarni,Congress
71,72,Hubli-Dharwad East (SC),Abbayya Prasad,Congress
72,73,Hubli-Dharwad Central,Mahesh Teginakai,BJP
73,74,Hubli-Dharwad West,Arvind Bellad,BJP
74,75,Kalghatgi,Santosh S Lad,Congress
75,76,Haliyal,Deshpande Raghunath,Congress
76,77,Karwar,Satish Krishna Sail,Congress
77,78,Kumta,Dinakar Keshab Shetty,BJP
78,79,Bhatkal,Mankal Vaidya,Congress
79,80,Sirsi,Bhimanna.T. Nayak,Congress
80,81,Yellapur,Arabail Hebbar Hivaram,BJP
81,82,Hangal,Mane Srinivas,Congress
82,83,Shiggaon,Basavaraj Bommai,BJP
83,84,Haveri (SC),Rudrappa Manappa Lamani,Congress
84,85,Byadgi,Basavaraj Neelappa Shivannanavar,Congress
85,86,Hirekerur,Ujaneshwar Basavannappa Banakar,Congress
86,87,Ranebennur,Prakash Koliwad,Congress
87,88,Hadagalli (SC),Krishna Nayaka,BJP
88,89,Hagaribommanahalli (SC),Nemarajanaik K,JD(S)
89,90,Vijayanagara,H R Gaviyappa,Congress
90,91,Kampli (ST),J N Ganesh,Congress
91,92,Siruguppa (ST),B M Nagaraja,Congress
92,93,Bellary Rural (ST),B Nagendra,Congress
93,94,Bellary City,Nara Bharath Reddy,Congress
94,95,Sandur (ST),E Tukaram,Congress
95,96,Kudligi (ST),Srinivas N T,Congress
96,97,Molakalmuru (ST),N Y Gopalakrishna,Congress
97,98,Challakere (ST),T Raghumurthy,Congress
98,99,Chitradurga,K C Veerendra Puppy,Congress
99,100,Hiriyur,D Sudhakar,Congress
100,101,Hosadurga,B G Govindappa,Congress
101,102,Holalkere (SC),M Chandrappa,BJP
102,103,Jagalur (ST),B. Devendrappa,Congress
103,104,Harapanahalli,Latha Mallikarjun,Independent
104,105,Harihar,B P Harish,BJP
105,106,Davanagere North,S S Mallikarjun,Congress
106,107,Davanagere South,Shamanur Shivashankarappa,Congress
107,108,Mayakonda (SC),K S Basavanthappa,Congress
108,109,Channagiri,Basavaraju V Shivaganga,Congress
109,110,Honnali,Santhana Gowda D G,Congress
110,111,Shimoga Rural (SC),Sharada Puryanaik,JD(S)
111,112,Bhadravati,B K Sangameshwara,Congress
112,113,Shimoga,Channabasappa,BJP
113,114,Tirthahalli,Araga Jnanendra,BJP
114,115,Shikaripura,Vijayendra Yediyurappa,BJP
115,116,Sorab,Mandhu Bangarappa,Congress
116,117,Sagar,Gopala Krishna Beluru,Congress
117,118,Byndoor,Gururaj Shetty Gantihole,BJP
118,119,Kundapura,A Kiran Kumar Kodgi,BJP
119,120,Udupi,Yashpal A Suvarna,BJP
120,121,Kapu,Gurme Suresh Shetty,BJP
121,122,Karkal,V Sunil Kumar,BJP
122,123,Sringeri,T.D.Rajegowda,Congress
123,124,Mudigere (SC),Nayana Motamma,Congress
124,125,Chikmagalur,H D Thammaiah,Congress
125,126,Tarikere,G H Srinivasa,Congress
126,127,Kadur,Anand K S,Congress
127,128,Chiknayakanhalli,C B Suresh Baabu,JD(S)
128,129,Tiptur,K Shadakshari,Congress
129,130,Turuvekere,M T Krishnappa,JD(S)
130,131,Kunigal,Dr H D Ranganath,Congress
131,132,Tumkur City,G B Jyothi Ganesh,BJP
132,133,Tumkur Rural,B Suresh Gowda,BJP
133,134,Koratagere (SC),Dr G Parameshwara,Congress
134,135,Gubbi,S R Srinivas,Congress
135,136,Sira,T B Jayachandra,Congress
136,137,Pavagada (SC),H V Venkatesh,Congress
137,138,Madhugiri,Kyathasandra N Rajanna,Congress
138,139,Gauribidanur,K H Puttaswamy Gowda,Independent
139,140,Bagepalli,S N Subbareddy,Congress
140,141,Chikkaballapur,Pradeep Eshwar,Congress
141,142,Sidlaghatta,B N Ravikumar,JD(S)
142,143,Chintamani,Dr M C Sudhakar,Congress
143,144,Srinivaspur,G K Venkatashivareddy,JD(S)
144,145,Mulbagal (SC),Samruddhi V Manjunath,JD(S)
145,146,Kolar Gold Field (SC),Roopa Kala M,Congress
146,147,Bangarapet (SC),S.N. Narayanaswamy. K.M,Congress
147,148,Kolar,Kothur .G. Manjunatha,Congress
148,149,Malur,N Y Nanjegowda,Congress
149,150,Yelahanka,S R Vishwanath,BJP
150,151,Krishnarajapuram,B A Basavaraja,BJP
151,152,Byatarayanapura,Krishna Byregowda,Congress
152,153,Yeshwantpur,S T Somashekar,BJP
153,154,Rajarajeshwarinagar,Munirathna,BJP
154,155,Dasarahalli,S Muniraju,BJP
155,156,Mahalakshmi Layout,K Gopalaiah,BJP
156,157,Malleshwaram,Dr C N Ashwathnarayan,BJP
157,158,Hebbal,Suresha B S,Congress
158,159,Pulakeshinagar (SC),A. C. Srinivasa,Congress
159,160,Sarvagnanagar,K J George,Congress
160,161,C V Raman Nagar (SC),S Raghu,BJP
161,162,Shivajinagar,Rizwan Arshad,Congress
162,163,Shanti Nagar,N A Harris,Congress
163,164,Gandhi Nagar,Dinesh Gundu Rao,Congress
164,165,Rajaji Nagar,S Suresh Kumar,BJP
165,166,Govindraj Nagar,Priyakrishna,Congress
166,167,Vijay Nagar,M Krishnappa,Congress
167,168,Chamrajpet,BZ Zameer Ahmed Khan,Congress
168,169,Chickpet,Uday B Garudachar,BJP
169,BJ170,Basavanagudi,Ravi Subramanya L A,BJP
170,171,Padmanabhanagar,R Ashoka,BJP
171,172,B.T.M. Layout,Ramalinga Reddy,Congress
172,173,Jayanagar,C K Ramamurthy,BJP
173,174,Mahadevapura (SC),Manjula S,BJP
174,175,Bommanahalli,Satish Reddy M,BJP
175,176,Bangalore South,M Krishnappa,BJP
176,177,Anekal (SC),V Shivanna,Congress
177,178,Hoskote,Sharath Kumar Bachegowda,Congress
178,179,Devanahalli (SC),K H Muniyappa,Congress
179,180,Doddaballapur,Dheeraj Muniraj,BJP
180,181,Nelamangala (SC),Shreenivasaiah N,Congress
181,182,Magadi,H C Balakrishna,Congress
182,183,Ramanagaram,Iqbal Hussain,Congress
183,184,Kanakapura,D K Shivakumar,Congress
184,185,Channapatna,H D Kumaraswamy,JD(S)
185,186,Malavalli (SC),P M Narendraswamy,Congress
186,187,Maddur,Udaya K M,Congress
187,188,Melukote,Darshan Puttannaiah,SKP-Congress
188,189,Mandya,Ravikumar Gowda,Congress
189,190,Shrirangapattana,A B Ramesha Bandisiddegowda,Congress
190,191,Nagamangala,N Chaluvarayaswamy,Congress
191,192,Krishnarajapet,H T Manju,JD(S)
192,193,Shravanabelagola,C N Balakrishna,JD(S)
193,194,Arsikere,K M Shivalinge Gowda,Congress
194,195,Belur,H K Suresh,BJP
195,196,Hassan,H P Swaroop,JD(S)
196,197,Holenarasipur,H D Revanna,JD(S)
197,198,Arkalgud,A Manju,JD(S)
198,199,Sakleshpur (SC),Cement Manju,BJP
199,200,Belthangady,Harish Poonja,BJP
200,201,Moodabidri,Umanatha Kotian,BJP
201,202,Mangalore City North,Dr Y Bharath Shetty,BJP
202,203,Mangalore City South,D Vedavyasa Kamath,BJP
203,204,Mangalore,UT Khader,Congress
204,205,Bantval,Rajesh Naik U,BJP
205,206,Puttur,Ashok Kumar Rai,Congress
206,207,Sullia (SC),Bhagirathi Murulya,BJP
207,208,Madikeri,Dr Mantar Gowda,Congress
208,209,Virajpet,A S Ponnanna,Congress
209,210,Piriyapatna,K Venkatesh,Congress
210,211,Krishnarajanagara,Ravishankar D,Congress
211,212,Hunsur,G D Harish Gowda,JD(S)
212,213,Heggadadevankote (ST),Anil Chikkamadhu,Congress
213,214,Nanjangud (SC),Darshan Dhruvanarayana,Congress
214,215,Chamundeshwari,G T Devegowda,JD(S)
215,216,Krishnaraja,T S Srivathsa,BJP
216,217,Chamaraja,K Harish Gowda,Congress
217,218,Narasimharaja,Tanveer Sait,Congress
218,219,Varuna,Siddaramaiah,Congress
219,220,T. Narasipur (SC),Dr H C Mahadevappa,Congress
220,221,Hanur,M R Manjunath,JD(S)
221,222,Kollegal (SC),A R Krishnamurthy,Congress
222,223,Chamarajanagar,C Puttarangashetty,Congress
223,224,Gundlupet,H M Ganesh Prasad,Congress

In [13]:
query1 = """UPDATE MLA_2023_temp SET "Sl No." = '170' where "Sl No." = 'BJ170' """
con.execute(query1)
con.commit()

In [14]:
pd.set_option('display.max_rows', None)
pd.read_sql("Select * from MLA_2023_temp",con)

,Sl No.,Constituency Name,Winners,Party
0,1,Nippani,Jolle Shashikala Annasaheb,BJP
1,2,Chikkodi-Sadalga,Ganesh Prakash Hukkeri,Congress
2,3,Athani,Laxman Savadi,Congress
3,4,Kagwad,Bharamgouda Alagouda Kage,Congress
4,5,Kudachi (SC),Mahendra Kallappa Tammannavar,Congress
5,6,Raybag (SC),Aihole Duryodhan Mahalingappa,BJP
6,7,Hukkeri,Katti Nikhil Umesh,BJP
7,8,Arabhavi,Balachandra Laxmanrao Jarkiholi,BJP
8,9,Gokak,Jarkiholi Ramesh Laxmanrao,BJP
9,10,Yemkanmardi (ST),Satish Jarkiholi,Congress
10,11,Belgaum Uttar,Asif (Raju) Sait,Congress
11,12,Belgaum Dakshin,Abhay Patil,BJP
12,13,Belgaum Rural,Laxmi R Hebbalkar,Congress
13,14,Khanapur,Vithal Somanna Halagekar,BJP
14,15,Kittur,Babasaheb Patil,Congress
15,16,Bailhongal,Koujalagi Mahantesh Shivanand,Congress
16,17,Saundatti Yellamma,Vishwas Vasant Vaidya,Congress
17,18,Ramdurg,Ashok Mahadevappa Pattan,Congress
18,19,Mudhol (SC),Timmapur Ramappa Balappa,Congress
19,20,Terdal,Siddu Savadi,BJP
20,21,Jamkhandi,Jagadeesh Shivayya Gudagunti,BJP
21,22,Bilgi,J T Patil,Congress
22,23,Badami,B B Chimmanakatti,Congress
23,24,Bagalkot,Meti Hullappa Yamanappa,Congress
24,25,Hungund,Kashappanavara Vijayanand Shivashankarappa,Congress
25,26,Muddebihal,Appaji A Channabasavaraj,Congress
26,27,Devar Hippargi,Bhimanagouda Basanagouda Patil,JD(S)
27,28,Basavana Bagevadi,Shivanand Patil,Congress
28,29,Babaleshwar,M B Patil,Congress
29,30,Bijapur City,Basanagouda R Patil,BJP
30,31,Nagathan (SC),Katakadhond Vitthal Dondiba,Congress
31,32,Indi,Yashavantaraygoud. Vittalagoud. Patil,Congress
32,33,Sindagi,Ashok Mallappa Managuli,Congress
33,34,Afzalpur,M.Y.Patil,Congress
34,35,Jewargi,Ajay Singh,Congress
35,36,Shorapur (ST),Raja Venkatappa Naik,Congress
36,37,Shahapur,Sharanabasappa Drashanpur,Congress
37,38,Yadgir,Channareddy Patil Tunnur,Congress
38,39,Gurmitkal,Sharana Gowda Kandakur,JD(S)
39,40,Chittapur (SC),Priyank Kharge,Congress
40,41,Sedam,Dr Sharanprakash Rudrappa Patil,Congress
41,42,Chincholi (SC),Avinash Umesh Jadhav,BJP
42,43,Gulbarga Rural (SC),Basawaraj Mattimudu,BJP
43,44,Gulbarga Dakshin,Allamprabhu Patil,Congress
44,45,Gulbarga Uttar,Kaneez Fatima,Congress
45,46,Aland,Bhojaraj,Congress
46,47,Basavakalyan,Sharanu Salagar,BJP
47,48,Homnabad,Siddu Patil,BJP
48,49,Bidar South,DR. Shailendra Beldale,BJP
49,50,Bidar,Rahim Khan,Congress
50,51,Bhalki,Eshwar Khandre,Congress
51,52,Aurad (SC),Prabhu B Chavan,BJP
52,53,Raichur Rural (ST),Basanagouda Daddal,Congress
53,54,Raichur,Dr. Shivaraj Patil,BJP
54,55,Manvi (ST),G Hampayya Nayak,Congress
55,56,Devadurga (ST),Karemma,JD(S)
56,57,Lingsugur (SC),Manappa D Vajjal,BJP
57,58,Sindhanur,Hampanagouda Badarli,Congress
58,59,Maski (ST),Basan Gouda Turvihal,Congress
59,60,Kushtagi,D Hanamagouda Patil,BJP
60,61,Kanakagiri (SC),Tangadagi Shivaraj Sangappa,Congress
61,62,Gangawati,Janardhan Reddy,KRPP
62,63,Yelburga,Basavaraj Rayareddi,Congress
63,64,Koppal,K Raghavendra Basavaraj Hitnal,Congress
64,65,Shirahatti (SC),Dr Chandru Lamani,BJP
65,66,Gadag,H K Patil,Congress
66,67,Ron,Gurupadagouda Sanganagouda Patil,Congress
67,68,Nargund,C C Patil,BJP
68,69,Navalgund,Ningaraddi Hanamaraddi Konaraddi,Congress
69,70,Kundgol,M R Patil,BJP
70,71,Dharwad,Vinay Kulkarni,Congress
71,72,Hubli-Dharwad East (SC),Abbayya Prasad,Congress
72,73,Hubli-Dharwad Central,Mahesh Teginakai,BJP
73,74,Hubli-Dharwad West,Arvind Bellad,BJP
74,75,Kalghatgi,Santosh S Lad,Congress
75,76,Haliyal,Deshpande Raghunath,Congress
76,77,Karwar,Satish Krishna Sail,Congress
77,78,Kumta,Dinakar Keshab Shetty,BJP
78,79,Bhatkal,Mankal Vaidya,Congress
79,80,Sirsi,Bhimanna.T. Nayak,Congress
80,81,Yellapur,Arabail Hebbar Hivaram,BJP
81,82,Hangal,Mane Srinivas,Congress
82,83,Shiggaon,Basavaraj Bommai,BJP
83,84,Haveri (SC),Rudrappa Manappa Lamani,Congress
84,85,Byadgi,Basavaraj Neelappa Shivannanavar,Congress
85,86,Hirekerur,Ujaneshwar Basavannappa Banakar,Congress
86,87,Ranebennur,Prakash Koliwad,Congress
87,88,Hadagalli (SC),Krishna Nayaka,BJP
88,89,Hagaribommanahalli (SC),Nemarajanaik K,JD(S)
89,90,Vijayanagara,H R Gaviyappa,Congress
90,91,Kampli (ST),J N Ganesh,Congress
91,92,Siruguppa (ST),B M Nagaraja,Congress
92,93,Bellary Rural (ST),B Nagendra,Congress
93,94,Bellary City,Nara Bharath Reddy,Congress
94,95,Sandur (ST),E Tukaram,Congress
95,96,Kudligi (ST),Srinivas N T,Congress
96,97,Molakalmuru (ST),N Y Gopalakrishna,Congress
97,98,Challakere (ST),T Raghumurthy,Congress
98,99,Chitradurga,K C Veerendra Puppy,Congress
99,100,Hiriyur,D Sudhakar,Congress
100,101,Hosadurga,B G Govindappa,Congress
101,102,Holalkere (SC),M Chandrappa,BJP
102,103,Jagalur (ST),B. Devendrappa,Congress
103,104,Harapanahalli,Latha Mallikarjun,Independent
104,105,Harihar,B P Harish,BJP
105,106,Davanagere North,S S Mallikarjun,Congress
106,107,Davanagere South,Shamanur Shivashankarappa,Congress
107,108,Mayakonda (SC),K S Basavanthappa,Congress
108,109,Channagiri,Basavaraju V Shivaganga,Congress
109,110,Honnali,Santhana Gowda D G,Congress
110,111,Shimoga Rural (SC),Sharada Puryanaik,JD(S)
111,112,Bhadravati,B K Sangameshwara,Congress
112,113,Shimoga,Channabasappa,BJP
113,114,Tirthahalli,Araga Jnanendra,BJP
114,115,Shikaripura,Vijayendra Yediyurappa,BJP
115,116,Sorab,Mandhu Bangarappa,Congress
116,117,Sagar,Gopala Krishna Beluru,Congress
117,118,Byndoor,Gururaj Shetty Gantihole,BJP
118,119,Kundapura,A Kiran Kumar Kodgi,BJP
119,120,Udupi,Yashpal A Suvarna,BJP
120,121,Kapu,Gurme Suresh Shetty,BJP
121,122,Karkal,V Sunil Kumar,BJP
122,123,Sringeri,T.D.Rajegowda,Congress
123,124,Mudigere (SC),Nayana Motamma,Congress
124,125,Chikmagalur,H D Thammaiah,Congress
125,126,Tarikere,G H Srinivasa,Congress
126,127,Kadur,Anand K S,Congress
127,128,Chiknayakanhalli,C B Suresh Baabu,JD(S)
128,129,Tiptur,K Shadakshari,Congress
129,130,Turuvekere,M T Krishnappa,JD(S)
130,131,Kunigal,Dr H D Ranganath,Congress
131,132,Tumkur City,G B Jyothi Ganesh,BJP
132,133,Tumkur Rural,B Suresh Gowda,BJP
133,134,Koratagere (SC),Dr G Parameshwara,Congress
134,135,Gubbi,S R Srinivas,Congress
135,136,Sira,T B Jayachandra,Congress
136,137,Pavagada (SC),H V Venkatesh,Congress
137,138,Madhugiri,Kyathasandra N Rajanna,Congress
138,139,Gauribidanur,K H Puttaswamy Gowda,Independent
139,140,Bagepalli,S N Subbareddy,Congress
140,141,Chikkaballapur,Pradeep Eshwar,Congress
141,142,Sidlaghatta,B N Ravikumar,JD(S)
142,143,Chintamani,Dr M C Sudhakar,Congress
143,144,Srinivaspur,G K Venkatashivareddy,JD(S)
144,145,Mulbagal (SC),Samruddhi V Manjunath,JD(S)
145,146,Kolar Gold Field (SC),Roopa Kala M,Congress
146,147,Bangarapet (SC),S.N. Narayanaswamy. K.M,Congress
147,148,Kolar,Kothur .G. Manjunatha,Congress
148,149,Malur,N Y Nanjegowda,Congress
149,150,Yelahanka,S R Vishwanath,BJP
150,151,Krishnarajapuram,B A Basavaraja,BJP
151,152,Byatarayanapura,Krishna Byregowda,Congress
152,153,Yeshwantpur,S T Somashekar,BJP
153,154,Rajarajeshwarinagar,Munirathna,BJP
154,155,Dasarahalli,S Muniraju,BJP
155,156,Mahalakshmi Layout,K Gopalaiah,BJP
156,157,Malleshwaram,Dr C N Ashwathnarayan,BJP
157,158,Hebbal,Suresha B S,Congress
158,159,Pulakeshinagar (SC),A. C. Srinivasa,Congress
159,160,Sarvagnanagar,K J George,Congress
160,161,C V Raman Nagar (SC),S Raghu,BJP
161,162,Shivajinagar,Rizwan Arshad,Congress
162,163,Shanti Nagar,N A Harris,Congress
163,164,Gandhi Nagar,Dinesh Gundu Rao,Congress
164,165,Rajaji Nagar,S Suresh Kumar,BJP
165,166,Govindraj Nagar,Priyakrishna,Congress
166,167,Vijay Nagar,M Krishnappa,Congress
167,168,Chamrajpet,BZ Zameer Ahmed Khan,Congress
168,169,Chickpet,Uday B Garudachar,BJP
169,170,Basavanagudi,Ravi Subramanya L A,BJP
170,171,Padmanabhanagar,R Ashoka,BJP
171,172,B.T.M. Layout,Ramalinga Reddy,Congress
172,173,Jayanagar,C K Ramamurthy,BJP
173,174,Mahadevapura (SC),Manjula S,BJP
174,175,Bommanahalli,Satish Reddy M,BJP
175,176,Bangalore South,M Krishnappa,BJP
176,177,Anekal (SC),V Shivanna,Congress
177,178,Hoskote,Sharath Kumar Bachegowda,Congress
178,179,Devanahalli (SC),K H Muniyappa,Congress
179,180,Doddaballapur,Dheeraj Muniraj,BJP
180,181,Nelamangala (SC),Shreenivasaiah N,Congress
181,182,Magadi,H C Balakrishna,Congress
182,183,Ramanagaram,Iqbal Hussain,Congress
183,184,Kanakapura,D K Shivakumar,Congress
184,185,Channapatna,H D Kumaraswamy,JD(S)
185,186,Malavalli (SC),P M Narendraswamy,Congress
186,187,Maddur,Udaya K M,Congress
187,188,Melukote,Darshan Puttannaiah,SKP-Congress
188,189,Mandya,Ravikumar Gowda,Congress
189,190,Shrirangapattana,A B Ramesha Bandisiddegowda,Congress
190,191,Nagamangala,N Chaluvarayaswamy,Congress
191,192,Krishnarajapet,H T Manju,JD(S)
192,193,Shravanabelagola,C N Balakrishna,JD(S)
193,194,Arsikere,K M Shivalinge Gowda,Congress
194,195,Belur,H K Suresh,BJP
195,196,Hassan,H P Swaroop,JD(S)
196,197,Holenarasipur,H D Revanna,JD(S)
197,198,Arkalgud,A Manju,JD(S)
198,199,Sakleshpur (SC),Cement Manju,BJP
199,200,Belthangady,Harish Poonja,BJP
200,201,Moodabidri,Umanatha Kotian,BJP
201,202,Mangalore City North,Dr Y Bharath Shetty,BJP
202,203,Mangalore City South,D Vedavyasa Kamath,BJP
203,204,Mangalore,UT Khader,Congress
204,205,Bantval,Rajesh Naik U,BJP
205,206,Puttur,Ashok Kumar Rai,Congress
206,207,Sullia (SC),Bhagirathi Murulya,BJP
207,208,Madikeri,Dr Mantar Gowda,Congress
208,209,Virajpet,A S Ponnanna,Congress
209,210,Piriyapatna,K Venkatesh,Congress
210,211,Krishnarajanagara,Ravishankar D,Congress
211,212,Hunsur,G D Harish Gowda,JD(S)
212,213,Heggadadevankote (ST),Anil Chikkamadhu,Congress
213,214,Nanjangud (SC),Darshan Dhruvanarayana,Congress
214,215,Chamundeshwari,G T Devegowda,JD(S)
215,216,Krishnaraja,T S Srivathsa,BJP
216,217,Chamaraja,K Harish Gowda,Congress
217,218,Narasimharaja,Tanveer Sait,Congress
218,219,Varuna,Siddaramaiah,Congress
219,220,T. Narasipur (SC),Dr H C Mahadevappa,Congress
220,221,Hanur,M R Manjunath,JD(S)
221,222,Kollegal (SC),A R Krishnamurthy,Congress
222,223,Chamarajanagar,C Puttarangashetty,Congress
223,224,Gundlupet,H M Ganesh Prasad,Congress

In [15]:
insert_sql3 = """Insert into MLA_2023(AC_Num, MLA_Name, Party)
        Select CAST("Sl No." as INTEGER), Winners, Party from MLA_2023_temp """

con.execute(insert_sql3)
con.commit()

In [16]:
pd.reset_option('display.max_rows')
pd.read_sql("Select * from MLA_2023",con)

     AC_Num                       MLA_Name     Party
0         1     Jolle Shashikala Annasaheb       BJP
1         2         Ganesh Prakash Hukkeri  Congress
2         3                  Laxman Savadi  Congress
3         4      Bharamgouda Alagouda Kage  Congress
4         5  Mahendra Kallappa Tammannavar  Congress
..      ...                            ...       ...
219     220             Dr H C Mahadevappa  Congress
220     221                  M R Manjunath     JD(S)
221     222              A R Krishnamurthy  Congress
222     223             C Puttarangashetty  Congress
223     224              H M Ganesh Prasad  Congress

[224 rows x 3 columns]

In [17]:
query2="""Drop table if exists MLA_2023_temp"""
con.execute(query2)
con.commit()

In [18]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

KA_Constituencies
MLA_2018
MLA_2023

4. Correcting party names in both tables

In [19]:
pd.read_sql("SELECT Distinct(party) from MLA_2023",con)

          Party
0           BJP
1      Congress
2         JD(S)
3          KRPP
4   Independent
5  SKP-Congress

In [20]:
pd.read_sql("SELECT Distinct(party) from MLA_2018",con)

  Party
0   BJP
1   INC
2  None
3   JDS

In [21]:
query3 = "UPDATE MLA_2023 set Party = 'INC' where Party = 'Congress' "

query4 = "UPDATE MLA_2023 set Party = 'JDS' where Party= 'JD(S)' "

query5 = "UPDATE MLA_2018 set Party = 'Independent' where Party IS NULL "

con.execute(query3)
con.execute(query4)
con.execute(query5)
con.commit()

In [22]:
pd.read_sql("SELECT Distinct(party) from MLA_2023",con)

          Party
0           BJP
1           INC
2           JDS
3          KRPP
4   Independent
5  SKP-Congress

In [23]:
pd.read_sql("SELECT Distinct(party) from MLA_2018",con)

         Party
0          BJP
1          INC
2  Independent
3          JDS

5. Correcting MLA names of the same person in both tables

In [24]:
for i in range(1,225):
        list = con.execute(f"Select MLA_Name, Party from MLA_2018 where AC_Num={i}").fetchall()
        name, par =list[0]

        query6 = (f""" UPDATE MLA_2023
                SET MLA_NAME = '{name}'
                WHERE AC_Num = {i} AND Party = '{par}' """)
        con.execute(query6)
con.commit()

6.  Create a new table MLA_KA making union of the above two tables.

In [25]:
table4 = """
CREATE TABLE MLA_KA (
    'Sl No.' INTEGER PRIMARY KEY,
    MLA_Name TEXT,
    Party TEXT)
"""
con.execute(table4)
con.commit()
pd.read_sql("PRAGMA table_info(MLA_KA)", con)

   cid      name     type  notnull dflt_value  pk
0    0    Sl No.  INTEGER        0       None   1
1    1  MLA_Name     TEXT        0       None   0
2    2     Party     TEXT        0       None   0

In [26]:
insert_sql4 = """
INSERT INTO MLA_KA(MLA_Name, Party)
    SELECT MLA_Name, Party FROM MLA_2023
    UNION
    SELECT MLA_Name, Party FROM MLA_2018;
"""
con.execute(insert_sql4)
con.commit()

In [27]:
pd.read_sql("Select * from MLA_KA",con)

     Sl No.                     MLA_Name Party
0         1  A B Ramesha Bandisiddegowda   INC
1         2                      A Manju   JDS
2         3            A R Krishnamurthy   INC
3         4                 A S Ponnanna   INC
4         5                 A. Manjunath   JDS
..      ...                          ...   ...
328     329     Vishweshwar Hegde Kageri   BJP
329     330     Vithal Somanna Halagekar   BJP
330     331                  Y. V. Patil   INC
331     332                 Yathindra S.   INC
332     333            Zameer Ahmed Khan   INC

[333 rows x 3 columns]

7. Use tables KA_Constituencies, MLA_2018, and MLA_2023. Setting appropriate relationships among these tables, print AC_Num, AC_Name, MLA in 2018, Party, MLA in 2023, and Party.   
 Create table MLA_Rel and insert the above values

In [28]:
query7 = """ Select a.AC_Num, a.AC_Name,
      b.MLA_Name as MLA_2018, b.Party as Party_2018,
      c.MLA_Name as MLA_2023, c.Party as Party_2023
      from KA_Constituencies as a, MLA_2018 as b, MLA_2023 as c
      where a.AC_Num = b.AC_Num AND a.AC_Num = c.AC_Num """

pd.read_sql(query7,con)

,AC_Num,AC_Name,MLA_2018,Party_2018,MLA_2023,Party_2023
0,1,Nippani,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Athani,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Kagwad,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,Kudachi,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...,...
219,220,T Narasipura,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,Hanur,R. Narendra,INC,M R Manjunath,JDS
221,222,Kollegal,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,Chamrajanagar,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,Gundlupet,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

In [29]:
table5 = """
CREATE TABLE MLA_Rel (
    'AC_Num' INTEGER PRIMARY KEY,
    'AC_Name' TEXT,
    'MLA_2018' TEXT,
    'Party_2018' TEXT,
    'MLA_2023' TEXT,
    'Party_2023' TEXT)
"""
con.execute(table5)
con.commit()
pd.read_sql("PRAGMA table_info(MLA_Rel)", con)

   cid        name     type  notnull dflt_value  pk
0    0      AC_Num  INTEGER        0       None   1
1    1     AC_Name     TEXT        0       None   0
2    2    MLA_2018     TEXT        0       None   0
3    3  Party_2018     TEXT        0       None   0
4    4    MLA_2023     TEXT        0       None   0
5    5  Party_2023     TEXT        0       None   0

In [30]:
insert_sql5 = """
INSERT INTO MLA_Rel(AC_Num, AC_Name, MLA_2018, Party_2018, MLA_2023, Party_2023)
    Select a.AC_Num, a.AC_Name,
      b.MLA_Name as MLA_2018, b.Party as Party_2018,
      c.MLA_Name as MLA_2023, c.Party as Party_2023
      from KA_Constituencies as a, MLA_2018 as b, MLA_2023 as c
      where a.AC_Num = b.AC_Num AND a.AC_Num = c.AC_Num
"""
con.execute(insert_sql5)
con.commit()

In [31]:
pd.read_sql("Select * from MLA_Rel",con)

,AC_Num,AC_Name,MLA_2018,Party_2018,MLA_2023,Party_2023
0,1,Nippani,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Athani,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Kagwad,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,Kudachi,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...,...
219,220,T Narasipura,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,Hanur,R. Narendra,INC,M R Manjunath,JDS
221,222,Kollegal,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,Chamrajanagar,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,Gundlupet,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

8. Use tables KA_Constituencies, MLA_2018, and MLA_2023. Using appropriate JOINs, print AC_Num, AC_Name, MLA in 2018, Party, MLA in 2023, and Party.  
Create table MLA_Join and insert the above values

In [32]:
query8 = """ Select a.AC_Num, a.AC_Name,
      b.MLA_Name as MLA_2018, b.Party as Party_2018,
      c.MLA_Name as MLA_2023, c.Party as Party_2023
      from KA_Constituencies as a
      JOIN MLA_2018 as b USING(AC_Num)
      JOIN MLA_2023 as c USING(AC_Num) """

pd.read_sql(query8, con)

,AC_Num,AC_Name,MLA_2018,Party_2018,MLA_2023,Party_2023
0,1,Nippani,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Athani,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Kagwad,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,Kudachi,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...,...
219,220,T Narasipura,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,Hanur,R. Narendra,INC,M R Manjunath,JDS
221,222,Kollegal,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,Chamrajanagar,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,Gundlupet,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

In [33]:
table6 = """
CREATE TABLE MLA_Join (
    'AC_Num' INTEGER PRIMARY KEY,
    'AC_Name' TEXT,
    'MLA_2018' TEXT,
    'Party_2018' TEXT,
    'MLA_2023' TEXT,
    'Party_2023' TEXT)
"""
con.execute(table6)
con.commit()
pd.read_sql("PRAGMA table_info(MLA_Rel)", con)

   cid        name     type  notnull dflt_value  pk
0    0      AC_Num  INTEGER        0       None   1
1    1     AC_Name     TEXT        0       None   0
2    2    MLA_2018     TEXT        0       None   0
3    3  Party_2018     TEXT        0       None   0
4    4    MLA_2023     TEXT        0       None   0
5    5  Party_2023     TEXT        0       None   0

In [34]:
insert_sql6 = """
INSERT INTO MLA_Join(AC_Num, AC_Name, MLA_2018, Party_2018, MLA_2023, Party_2023)
    Select a.AC_Num, a.AC_Name,
      b.MLA_Name as MLA_2018, b.Party as Party_2018,
      c.MLA_Name as MLA_2023, c.Party as Party_2023
      from KA_Constituencies as a
      JOIN MLA_2018 as b USING(AC_Num)
      JOIN MLA_2023 as c USING(AC_Num)
"""
con.execute(insert_sql6)
con.commit()

In [35]:
pd.read_sql("Select * from MLA_Join",con)

,AC_Num,AC_Name,MLA_2018,Party_2018,MLA_2023,Party_2023
0,1,Nippani,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Athani,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Kagwad,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,Kudachi,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...,...
219,220,T Narasipura,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,Hanur,R. Narendra,INC,M R Manjunath,JDS
221,222,Kollegal,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,Chamrajanagar,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,Gundlupet,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

9. INNER, LEFT, and RIGHT joins of tables.

Inner join

In [36]:
pd.read_sql(""" SELECT a.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a INNER JOIN MLA_2023 b WHERE a.AC_Num = b.AC_Num """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...
219,220,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,R. Narendra,INC,M R Manjunath,JDS
221,222,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

In [37]:
pd.read_sql(""" SELECT a.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a INNER JOIN MLA_2023 b ON a.MLA_Name = b.MLA_Name """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,6,Duryodhan Mahalingappa Aihole,BJP,Duryodhan Mahalingappa Aihole,BJP
3,8,Balachandra Jarkiholi,BJP,Balachandra Jarkiholi,BJP
4,9,Ramesh Jarkiholi,BJP,Ramesh Jarkiholi,BJP
...,...,...,...,...,...
107,215,GT Devegowda,JDS,GT Devegowda,JDS
108,216,S. A. Ramadas,BJP,S. A. Ramadas,BJP
109,218,Tanveer Sait,INC,Tanveer Sait,INC
110,219,Yathindra S.,INC,Yathindra S.,INC
111,223,C. Puttarangashetty,INC,C. Puttarangashetty,INC

Left join

In [38]:
pd.read_sql(""" SELECT a.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a LEFT JOIN MLA_2023 b WHERE a.AC_Num = b.AC_Num """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...
219,220,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,R. Narendra,INC,M R Manjunath,JDS
221,222,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

In [39]:
pd.read_sql(""" SELECT a.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a LEFT JOIN MLA_2023 b ON a.MLA_Name = b.MLA_Name """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Mahesh Kumathalli,BJP,None,None
3,4,Srimant Patil,BJP,None,None
4,5,P. Rajeev,BJP,None,None
...,...,...,...,...,...
221,220,Ashvin Kumar M.,JDS,None,None
222,221,R. Narendra,INC,None,None
223,222,N. Mahesh,BJP,None,None
224,223,C. Puttarangashetty,INC,C. Puttarangashetty,INC
225,224,C.S. Niranjan Kumar,BJP,None,None

In [40]:
pd.read_sql(""" SELECT a.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a RIGHT JOIN MLA_2023 b WHERE a.AC_Num = b.AC_Num """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,3,Mahesh Kumathalli,BJP,Laxman Savadi,INC
3,4,Srimant Patil,BJP,Bharamgouda Alagouda Kage,INC
4,5,P. Rajeev,BJP,Mahendra Kallappa Tammannavar,INC
...,...,...,...,...,...
219,220,Ashvin Kumar M.,JDS,Dr H C Mahadevappa,INC
220,221,R. Narendra,INC,M R Manjunath,JDS
221,222,N. Mahesh,BJP,A R Krishnamurthy,INC
222,223,C. Puttarangashetty,INC,C. Puttarangashetty,INC
223,224,C.S. Niranjan Kumar,BJP,H M Ganesh Prasad,INC

In [41]:
pd.read_sql(""" SELECT b.AC_Num, a.MLA_Name MLA_2018_Name, a.Party Party_2018, 
            b.MLA_Name MLA_2023_Name, b.Party Party_2023
            FROM MLA_2018 a RIGHT JOIN MLA_2023 b ON a.MLA_Name = b.MLA_Name """, con)

,AC_Num,MLA_2018_Name,Party_2018,MLA_2023_Name,Party_2023
0,1,Shashikala Annasaheb Jolle,BJP,Shashikala Annasaheb Jolle,BJP
1,2,Ganesh Hukkeri,INC,Ganesh Hukkeri,INC
2,6,Duryodhan Mahalingappa Aihole,BJP,Duryodhan Mahalingappa Aihole,BJP
3,8,Balachandra Jarkiholi,BJP,Balachandra Jarkiholi,BJP
4,9,Ramesh Jarkiholi,BJP,Ramesh Jarkiholi,BJP
...,...,...,...,...,...
221,217,None,None,K Harish Gowda,INC
222,220,None,None,Dr H C Mahadevappa,INC
223,221,None,None,M R Manjunath,JDS
224,222,None,None,A R Krishnamurthy,INC
225,224,None,None,H M Ganesh Prasad,INC

Count, GROUP BY, ORDER BY (not used here)

In [64]:
query9 = """SELECT Party, COUNT(*) AS MLA_Count FROM MLA_2018 GROUP BY Party;"""

con.execute(query9)
con.commit()
pd.read_sql(query9, con)

         Party  MLA_Count
0          BJP        117
1          INC         73
2  Independent          6
3          JDS         28

In [68]:
query10 = """SELECT Party, COUNT(*) AS MLA_Count, 2018 AS Year
FROM MLA_2018
GROUP BY Party

UNION ALL

SELECT Party, COUNT(*) AS MLA_Count, 2023 AS Year
FROM MLA_2023
GROUP BY Party

ORDER BY Year DESC, MLA_Count DESC;"""
con.execute(query10)
con.commit()
pd.read_sql(query10, con)

          Party  MLA_Count  Year
0           INC        135  2023
1           BJP         66  2023
2           JDS         19  2023
3   Independent          2  2023
4          KRPP          1  2023
5  SKP-Congress          1  2023
6           BJP        117  2018
7           INC         73  2018
8           JDS         28  2018
9   Independent          6  2018

### Testing

In [44]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

KA_Constituencies
MLA_2018
MLA_2023
MLA_KA
MLA_Rel
MLA_Join

Creating duplicate tables test_KA_constituencies and test_MLA_2018.

In [45]:
table7 = """(CREATE TABLE test_KA_Constituencies(
    AC_Num INTEGER Primary Key,
    AC_Name Text);)"""

con.execute(table7)
con.commit()
pd.read_sql("PRAGMA table_info(test_KA_Constituencies)", con)

   cid     name     type  notnull dflt_value  pk
0    0   AC_Num  INTEGER        0       None   1
1    1  AC_Name     TEXT        0       None   0

In [46]:
insert_sql7 = """(INSERT INTO test_KA_Constituencies
    SELECT * FROM KA_Constituencies;)"""
    
con.execute(insert_sql7)
con.commit()
pd.read_sql("Select * from test_KA_Constituencies",con)

     AC_Num           AC_Name
0         1           Nippani
1         2  Chikkodi-Sadalga
2         3            Athani
3         4            Kagwad
4         5           Kudachi
..      ...               ...
219     220      T Narasipura
220     221             Hanur
221     222          Kollegal
222     223     Chamrajanagar
223     224         Gundlupet

[224 rows x 2 columns]

In [47]:
table8 = """ CREATE TABLE test_MLA_2018(
        AC_Num INTEGER Primary Key,
        MLA_Name Text,
        Party Text,
        FOREIGN KEY (AC_Num) REFERENCES test_KA_Constituencies(AC_Num) ON DELETE CASCADE)
      """
con.execute(table8)
con.commit()
pd.read_sql("PRAGMA table_info(test_MLA_2018)", con)

   cid      name     type  notnull dflt_value  pk
0    0    AC_Num  INTEGER        0       None   1
1    1  MLA_Name     TEXT        0       None   0
2    2     Party     TEXT        0       None   0

In [48]:
insert_sql8 = """INSERT INTO test_MLA_2018
    SELECT * FROM MLA_2018;"""
    
con.execute(insert_sql8)
con.commit()
pd.read_sql("Select * from test_MLA_2018",con)

     AC_Num                    MLA_Name Party
0         1  Shashikala Annasaheb Jolle   BJP
1         2              Ganesh Hukkeri   INC
2         3           Mahesh Kumathalli   BJP
3         4               Srimant Patil   BJP
4         5                   P. Rajeev   BJP
..      ...                         ...   ...
219     220             Ashvin Kumar M.   JDS
220     221                 R. Narendra   INC
221     222                   N. Mahesh   BJP
222     223         C. Puttarangashetty   INC
223     224         C.S. Niranjan Kumar   BJP

[224 rows x 3 columns]

In [49]:
table9 = """ CREATE TABLE test_MLA_2023(
        AC_Num INTEGER,
        MLA_Name Text,
        Party Text,
        FOREIGN KEY (AC_Num) REFERENCES test_KA_Constituencies(AC_Num) ON DELETE SET NULL);
      """
con.execute(table9)
con.commit()
pd.read_sql("PRAGMA table_info(test_MLA_2023)", con)

   cid      name     type  notnull dflt_value  pk
0    0    AC_Num  INTEGER        0       None   0
1    1  MLA_Name     TEXT        0       None   0
2    2     Party     TEXT        0       None   0

In [50]:
insert_sql9 = """INSERT INTO test_MLA_2023
    SELECT * FROM MLA_2023;"""
    
con.execute(insert_sql9)
con.commit()
pd.read_sql("Select * from test_MLA_2023",con)

     AC_Num                       MLA_Name Party
0         1     Shashikala Annasaheb Jolle   BJP
1         2                 Ganesh Hukkeri   INC
2         3                  Laxman Savadi   INC
3         4      Bharamgouda Alagouda Kage   INC
4         5  Mahendra Kallappa Tammannavar   INC
..      ...                            ...   ...
219     220             Dr H C Mahadevappa   INC
220     221                  M R Manjunath   JDS
221     222              A R Krishnamurthy   INC
222     223            C. Puttarangashetty   INC
223     224              H M Ganesh Prasad   INC

[224 rows x 3 columns]

1. Testing for primary key

In [51]:
test1 = """INSERT INTO test_KA_Constituencies values(225, 'Hosur')"""
con.execute(test1)
con.commit()

In [52]:
pd.read_sql("Select * from test_KA_Constituencies",con)

     AC_Num           AC_Name
0         1           Nippani
1         2  Chikkodi-Sadalga
2         3            Athani
3         4            Kagwad
4         5           Kudachi
..      ...               ...
220     221             Hanur
221     222          Kollegal
222     223     Chamrajanagar
223     224         Gundlupet
224     225             Hosur

[225 rows x 2 columns]

In [53]:
test2 = """INSERT INTO test_KA_Constituencies values(1, 'Blr')"""
con.execute(test2)
con.commit()

IntegrityError: UNIQUE constraint failed: test_KA_Constituencies.AC_Num

2. Testing for foreign key

In [54]:
test3 = """INSERT INTO test_MLA_2018 values(225, 'Reethu', 'Independent')"""
con.execute(test3)
con.commit()
pd.read_sql("Select * from test_MLA_2018",con)

     AC_Num                    MLA_Name        Party
0         1  Shashikala Annasaheb Jolle          BJP
1         2              Ganesh Hukkeri          INC
2         3           Mahesh Kumathalli          BJP
3         4               Srimant Patil          BJP
4         5                   P. Rajeev          BJP
..      ...                         ...          ...
220     221                 R. Narendra          INC
221     222                   N. Mahesh          BJP
222     223         C. Puttarangashetty          INC
223     224         C.S. Niranjan Kumar          BJP
224     225                      Reethu  Independent

[225 rows x 3 columns]

In [55]:
test4 = """INSERT INTO test_MLA_2023 values(225, 'Reethu', 'Independent')"""
con.execute(test4)
con.commit()
pd.read_sql("Select * from test_MLA_2023",con)

     AC_Num                       MLA_Name        Party
0         1     Shashikala Annasaheb Jolle          BJP
1         2                 Ganesh Hukkeri          INC
2         3                  Laxman Savadi          INC
3         4      Bharamgouda Alagouda Kage          INC
4         5  Mahendra Kallappa Tammannavar          INC
..      ...                            ...          ...
220     221                  M R Manjunath          JDS
221     222              A R Krishnamurthy          INC
222     223            C. Puttarangashetty          INC
223     224              H M Ganesh Prasad          INC
224     225                         Reethu  Independent

[225 rows x 3 columns]

In [56]:
test5 = """INSERT INTO test_MLA_2018 values(450, 'Reethu', 'Independent')"""
con.execute(test5)
con.commit()

IntegrityError: FOREIGN KEY constraint failed

3. Delete in 
- CASCADE option (test_MLA_2018)
- SET NULL option (test_MLA_2023)

In [57]:
delete_query1 = """DELETE FROM test_KA_Constituencies WHERE AC_Num = 225"""
con.execute(delete_query1)
con.commit()

In [58]:
pd.read_sql("Select * from test_KA_Constituencies",con)

     AC_Num           AC_Name
0         1           Nippani
1         2  Chikkodi-Sadalga
2         3            Athani
3         4            Kagwad
4         5           Kudachi
..      ...               ...
219     220      T Narasipura
220     221             Hanur
221     222          Kollegal
222     223     Chamrajanagar
223     224         Gundlupet

[224 rows x 2 columns]

In [59]:
pd.read_sql("Select * from test_MLA_2018",con)

     AC_Num                    MLA_Name Party
0         1  Shashikala Annasaheb Jolle   BJP
1         2              Ganesh Hukkeri   INC
2         3           Mahesh Kumathalli   BJP
3         4               Srimant Patil   BJP
4         5                   P. Rajeev   BJP
..      ...                         ...   ...
219     220             Ashvin Kumar M.   JDS
220     221                 R. Narendra   INC
221     222                   N. Mahesh   BJP
222     223         C. Puttarangashetty   INC
223     224         C.S. Niranjan Kumar   BJP

[224 rows x 3 columns]

In [60]:
pd.read_sql("Select * from test_MLA_2023",con)

     AC_Num                       MLA_Name        Party
0       1.0     Shashikala Annasaheb Jolle          BJP
1       2.0                 Ganesh Hukkeri          INC
2       3.0                  Laxman Savadi          INC
3       4.0      Bharamgouda Alagouda Kage          INC
4       5.0  Mahendra Kallappa Tammannavar          INC
..      ...                            ...          ...
220   221.0                  M R Manjunath          JDS
221   222.0              A R Krishnamurthy          INC
222   223.0            C. Puttarangashetty          INC
223   224.0              H M Ganesh Prasad          INC
224     NaN                         Reethu  Independent

[225 rows x 3 columns]